{% extends "layouts/main.html" %}

{% block pageTitle %}
    Habitual Residency test
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-xl">You are required to do a Habitual Residency test</h1>

                <p class="govuk-body">To be habitually resident a person must be seen to be making a home in Great Britain. It need not be the only home or a permanent home but it must be a genuine home for the time being.</p>
                 <p class="govuk-body">For example, a short stay visitor or a person receiving short term medical treatment is not resident.</p>

                <p class="govuk-body">In this test we may ask for evidence regarding:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>Birth certificates</li>
                <li>Employment status</li>
                <li>Passport</li>
                <li>Other identification documents</li>
                <li>Other evidence regarding your intent to stay in Great Britain (Doctors notes, Tenancy agreements etc)</li>
                </ul>
<br>

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href: "/citizen/habitual_residency_test/authenticated/v0_3/habitual_residency/what_you_will_need.html"
  }) }}

  {{ govukButton({
    text: "Save and do later",
    classes: "govuk-button--secondary"
  }) }}
</div>

            </form>

        </div>

</div>

{% endblock %}