dwp-res-prototype{% extends 'layout-agent-hrt-v11-with-back.html' %}

{% block pageTitle %}
   Update case details
{% endblock %}

{% block beforeContent %}

    {{ super() }}


   

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you want to update the case details yourself?
                </h1>
              </legend>
  
              <div class="govuk-radios govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="reside" type="radio" value="true">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="more-ino" name="reside" type="radio" value="more-info">
                  <label class="govuk-label govuk-radios__label" for="more-info">
                    No, send the case back to a caseworker
                  </label>
                </div>
              </div>

  </fieldset>
</div>

<div class="govuk-button-group">

  <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button>

</div>

  </div>

  <script>
    function check() {
      console.log('in function')
      var radios = document.getElementsByName("reside");
      var hasSelection = false
      for (var i = 0, len = radios.length; i < len; i++) {
        if (radios[i].checked) {
          hasSelection = true;
        }
      }
      if (!hasSelection) {
        window.location.href = "/agent/hrt-v11/outcome/hab-res-error.html";
      } else {
        if (document.getElementById("yes").checked) {
          window.location.href = "/agent/hrt-v11/outcome/update-details.html"
        } else {
          window.location.href = "/agent/hrt-v11/outcome/case-updated.html"
        }}}
  </script>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}