{% extends 'layout-agent-hrt-v11-with-back.html' %}

{% block pageTitle %}
    Select evidence required
{% endblock %}

{% block beforeContent %}

    {{ super() }}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which information is not correct?
            </h1>
          </legend>
          <div id="countries-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof" name="proof" type="checkbox" value="france">
              <label class="govuk-label govuk-checkboxes__label" for="proof">
                Benefit claim details
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-1" name="proof" type="checkbox" value="portugal">
              <label class="govuk-label govuk-checkboxes__label" for="proof-1">
                Nationality
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-2" name="proof" type="checkbox" value="portugal">
              <label class="govuk-label govuk-checkboxes__label" for="proof-2">
               Dual nationality
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-2" name="proof" type="checkbox" value="portugal">
              <label class="govuk-label govuk-checkboxes__label" for="proof-2">
                Immigration status
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-3" name="countries" type="checkbox" value="portugal">
              <label class="govuk-label govuk-checkboxes__label" for="proof-3">
               Recourse to public funds
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-4" name="proof" type="checkbox" value="other">
              <label class="govuk-label govuk-checkboxes__label" for="proof-4">
                Immigration status dates
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-4" name="proof" type="checkbox" value="other">
              <label class="govuk-label govuk-checkboxes__label" for="proof-4">
                Share code 
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-5" name="proof" type="checkbox" value="other">
              <label class="govuk-label govuk-checkboxes__label" for="countries-5">
                Currently in Great Britain
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-6" name="proof" type="checkbox" value="other">
              <label class="govuk-label govuk-checkboxes__label" for="proof-6">
                Exemption from being present in Great Britain
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-7" name="proof" type="checkbox" value="spain">
              <label class="govuk-label govuk-checkboxes__label" for="proof-7">
                Exemption from past presence test
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-7" name="proof" type="checkbox" value="spain">
              <label class="govuk-label govuk-checkboxes__label" for="proof-7">
                Been abroad for more than 4 weeks at a time
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-8" name="proof" type="checkbox" value="none" data-behaviour="exclusive">
              <label class="govuk-label govuk-checkboxes__label" for="none">
                Trips abroad
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="proof-9" name="proof" type="checkbox" value="none" data-behaviour="exclusive">
              <label class="govuk-label govuk-checkboxes__label" for="none">
                Evidence required
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "/agent/hrt-v11/outcome/do-you-want-to-update-details.html"
              }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "/agent/hrt-v11/progress-saved.html"
              }) }}
            </div>

    </div>
</div>

{% endblock %}