{% extends 'layout-agent-hrt-v11.html' %}

{% block pageTitle %}
    Case details
{% endblock %}

{% block beforeContent %}

    {{ super() }}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Case details have been updated
          </h3>
          <!-- <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p> -->
        </div>
      </div>
 
          <h1 class="govuk-heading-l">Case details</h1>
      <h2 class="govuk-heading-m">Benefit claim details</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
           Benefit
          </dt>
          
          <dd class="govuk-summary-list__value">
            Personal Independence Payment
          </dd>
        
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Date of claim
          </dt>
          <dd class="govuk-summary-list__value">
            5 Jan 2024
          </dd>
         
        </div>
      </dl>  
          
      <h2 class="govuk-heading-m">Nationality and immigration status</h2>

      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
             Nationality
            </dt>
            
            <dd class="govuk-summary-list__value">
              French
            </dd>
           
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Has dual nationality
            </dt>
            
            <dd class="govuk-summary-list__value">
              No
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Immigration status
            </dt>
            
            <dd class="govuk-summary-list__value">
              Pre-settled (limited leave to remain)
            </dd>
           
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Recourse to public funds
            </dt>
            
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
           
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Status valid from
            </dt>
            
            <dd class="govuk-summary-list__value">
            10 Jan 2020
            </dd>
           
          </div>
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Status expiry date
            </dt>
            <dd class="govuk-summary-list__value">
              10 Jan 2025
            </dd>
            
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Has share code
            </dt>
            
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Share code
            </dt>
            
            <dd class="govuk-summary-list__value">
              9XY 6GY 2S2
            </dd>
            
          </div>
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Share code expiry date
            </dt>
            <dd class="govuk-summary-list__value">
              25 Oct 2024
            </dd>
            
          </div>
      </dl>  

      <h2 class="govuk-heading-m">Presence</h2>
    
      <dl class="govuk-summary-list">
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Currently in Great Britain
            </dt>
            <dd class="govuk-summary-list__value">
             No
            </dd>
           
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Exemption from presence in Great Britain
            </dt>
            <dd class="govuk-summary-list__value">
              Armed forces or family member
            </dd>
           
          </div>
      </dl>   

      <h2 class="govuk-heading-m">Past presence</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Exemption from past presence test
          </dt>
          <dd class="govuk-summary-list__value">
           None
          </dd>
          
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Been abroad for more than 4 weeks at a time
            </dt>
            <dd class="govuk-summary-list__value">
             Yes
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              <b>Trip to Spain</b>
            </dt>
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                <li>20 Feb 2022 to 26 May 2022</li>
                <li>Reason: Medical reason</li>
                <li>Total time: 13 weeks 4 days</li>
            </dt>
           
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              <b>Trip to France</b>
            </dt>
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                <li>15 May 2023 to 10 Jul 2023</li>
                <li>Reason: Visiting family</li>
                <li>Total time: 8 weeks</li>
            </dt>
          
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              <b>Trip to United States</b>
            </dt>
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              <li>	1 Oct 2023 to 5 Jan 2024</li>
              <li>Reason: Work</li>
              <li>Total time: 13 weeks 5 days</li>
            </dt>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              <b>Total time abroad</b>
            </dt>
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              35 weeks 2 days
            </dt>
          </div>
      </dl>  

      <h2 class="govuk-heading-m">Evidence</h2>

      <dl class="govuk-summary-list">
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Evidence required
            </dt>
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              <ul class="govuk-list govuk-list--bullet">
                <li>Proof of nationality</li>
                <li>Proof of immigration status</li>
                <li>Proof of presence in Great Britain</li>
                <li>Proof of travel abroad</li>
              
              </ul>
            </dt>
          </div>
      </dl> 

      {% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "/agent/hrt-v11/outcome/evidence-decision-maker.html"

              }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "/agent/hrt-v11/progress-saved-dm.html"
              }) }}
            </div>

    </div>
</div>

{% endblock %}