{% extends 'layout-agent.html' %}

{% block pageTitle %}
    Past addresses
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <!-- <p style="float: right; margin-top:15px;" class="dwp-language-toggle" aria-label="Language toggle" > English | <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
      <a href="?lang=cy" class="govuk-link">Cymraeg</a> </p> -->

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<!--<div id="nationality-hint" class="govuk-hint">
  This is a page filled with address and residency information on the citizen.
</div>-->

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

{%- from "govuk/components/tag/macro.njk" import govukTag -%}

    <table class="govuk-table" id="addresses">
      <caption class="govuk-table__caption govuk-table__caption--l">Customer’s past addresses</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"> Address information </th>
          <th scope="col" class="govuk-table__header"> More details </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> 23 Rose Cottage, Fair Street, <br> Telford, TY3 4HN <br> 12 Dec 2018 to 4 Jan 2021 </td>
          <td class="govuk-table__cell">{{govukTag({
            text: "Permanent Residential",
            classes: "govuk-tag--green"
          })}} <br> Updated 14 Dec 2018
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 2</a></b>.  -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Hampton Court Bloomcare, 34 Scarisbrick, <br> New Road, Southport, PR8 6Q <br> 4 Oct 2018 to 11 Dec 2018 </td>
          <td class="govuk-table__cell">{{govukTag({
            text: "Temporary Care home",
            classes: "govuk-tag--blue"
          })}} <br> Updated 5 Oct 2018 
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 3</a></b>.  -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">4 Purple Dream, Main Court, <br> Manchester, MY3 4HN <br> 25 Oct 2017 to 3 Oct 2018 </td>
          <td class="govuk-table__cell"> {{govukTag({
            text: "Permanent Residential",
            classes: "govuk-tag--green"
          })}} <br> Updated 30 Oct 2017 
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 1</a></b>.  -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">9 Lilly House, Main Steet, <br> Brighton, BR3 8MK <br> 20 Jan 2015 to 24 Oct 2017 </td>
          <td class="govuk-table__cell">{{govukTag({
            text: "Permanent Residential",
            classes: "govuk-tag--green"
          })}} <br> Updated 30 Jan 2015 
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 2</a></b>.  -->
          </td>
        </tr>       
      </tbody>
    </table>

    
    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="/agent/update-address/past-addresses/past-addresses.html" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="/agent/update-address/past-addresses/past-addresses-2.html" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="/agent/update-address/past-addresses/past-addresses-3.html" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="/agent/update-address/past-addresses/past-addresses-2.html" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
  <ul class="govuk-pagination__list" id="pagination-list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="/agent/update-address/past-addresses/all-past-addresses.html" aria-label="See all" aria-current="page" onclick="changePage(4)">
        See all
      </a>
    </li>
  </ul>
</nav>

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  
  {{ govukButton({
    text: "Back to current address",
    href: "/agent/current-address.html"
  }) }}

</div>

    </div>
            </form>

        </div>

</div>

{% endblock %}