dwp-res-prototype{% extends 'layout-agent-hrt-v8-with-back.html' %}

{% block pageTitle %}
    Country
{% endblock %}

{% block beforeContent %}


    {{ super() }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <!-- <span class="govuk-caption-l">Past presence</span> -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Where did they travel to?
      </h1>
    </legend>
    
    <div id="dob-hint" class="govuk-hint">
      You can add more trips later.
    </div>
    
      <div class="govuk-form-group">
        <label class="govuk-label" for="country">
          Country
        </label>
        <input class="govuk-input govuk-input--width-10" id="country" name="country" type="text" autocomplete="country">
      </div>

  </fieldset>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "/agent/hrt-v8/filtering/abroad-dates.html"
              }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "/agent/hrt-v8/progress-saved.html"
              }) }}
            </div>

<!-- {% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "What to do if the customer has traveled from several countries?",
  text: "If the customer has travelled from several countries, enter the one they have spent the most time in."
}) }} -->
                  
<!-- <button class="govuk-button" data-module="govuk-button" onclick="check1()">
  Continue
</button> -->
            </form>

<script>
function check1() {
  console.log('in function')
  var radios = document.getElementsByName("presence");
  var hasSelection = false
  for (var i = 0, len = radios.length; i < len; i++) {
    if (radios[i].checked) {
      hasSelection = true;
    }
  }
  if (!hasSelection) {
    window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/continue_application_error.html";
  } else {
    window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/confirm_residence.html"

  }
}
</script>

        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}