{% extends 'layouts/main-1.html' %}

{% block pageTitle %}
Presence exemption
{% endblock %}

{% block beforeContent %}

    {{ super() }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          <!-- <span class="govuk-caption-l">Past presence</span> -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

      <h1 class="govuk-heading-l">
        Which exemption from being present in Great Britain applies to them?
      </h1>
 
    <div class="govuk-radios" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="exemption-5" name="exemptions" type="radio" value="true" >
        <label class="govuk-label govuk-radios__label" for="exemption-5">
          Claiming while in the European Economic Area (EAA) or Switzerland and can show genuine and sufficient link to UK
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="exemption-6" name="exemptions" type="radio" value="true" >
        <label class="govuk-label govuk-radios__label" for="exemption-6">
          Temporarily absent abroad for up to 13 weeks (26 weeks for qualifying medical treatment)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="profession" name="exemptions" type="radio" value="true" data-aria-controls="conditional-profession">
        <label class="govuk-label govuk-radios__label" for="profession">
          Working abroad (includes armed forces)
        </label>
      </div>
      <div class="govuk-radios__conditional" id="conditional-profession">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend">
          <h1 class="govuk-fieldset__heading">
            <b>Select exemption</b>
          </h1>
        </legend>
        <div class="govuk-form-group">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="exemption-1" name="whereDoYouLive" type="radio" value="airmen">
            <label class="govuk-label govuk-radios__label" for="exemption-1">
              Airmen
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="exemption-2" name="whereDoYouLive" type="radio" value="armed-forces">
            <label class="govuk-label govuk-radios__label" for="exemption-2">
              Armed forces or family member
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="exemption-3" name="whereDoYouLive" type="radio" value="continental-shelf-worker">
            <label class="govuk-label govuk-radios__label" for="exemption-3">
              Continental shelf workers
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="exemption-4" name="whereDoYouLive" type="radio" value="mariners">
            <label class="govuk-label govuk-radios__label" for="exemption-4">
              Mariners
            </label>
          </div>
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="exemption-7" name="exemptions" type="radio" value="true" >
        <label class="govuk-label govuk-radios__label" for="exemption-7">
          None
        </label>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="exemption-8" name="exemptions" type="radio" value="true" >
        <label class="govuk-label govuk-radios__label" for="exemption-8">
          I do not know
        </label>
      </div>
    </div>
  </fieldset>
</div>

             <!-- <button class="govuk-button" data-module="govuk-button" onclick="check()">
  Continue
</button> -->

{% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "/agent/hrt-v8/filtering/exemptions.html"
              }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "/agent/hrt-v8/progress-saved.html"
              }) }}
            </div>

</form>
            <script>
          function check() {
    console.log('in function')
    var radios = document.getElementsByName("nationality");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_1_error.html";
    } else {
      if (document.getElementById("nationality").checked || (document.getElementById("nationality-2").checked )) {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/presence.html"
      } else {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html"
      }

  
    }
  }
              </script>

        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}