{% extends 'layouts/main-2.html' %}

{% block pageTitle %}
Past presence exemption
{% endblock %}

{% block beforeContent %}

    {{ super() }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          <!-- <span class="govuk-caption-l">Past presence</span> -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

      <h1 class="govuk-heading-l">Which exemption from the past presence test applies to them?</h1>
    <div class="govuk-radios" data-module="govuk-radios">
  
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="schemes" name="exemptions" type="radio" value="true" data-aria-controls="conditional-schemes">
      <label class="govuk-label govuk-radios__label" for="schemes">
        Afghan or Ukraine schemes
      </label>
    </div>
    <div class="govuk-radios__conditional" id="conditional-schemes">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend">
        <h1 class="govuk-fieldset__heading">
          <b>Select exemption</b>
        </h1>
      </legend>
      <div class="govuk-form-group">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-1" name="whereDoYouLive" type="radio" value="afghan-1">
          <label class="govuk-label govuk-radios__label" for="exemption-1">
            Afghan Citizens Resettlement Scheme
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-2" name="whereDoYouLive" type="radio" value="afghan-2">
          <label class="govuk-label govuk-radios__label" for="exemption-2">
            Afghan Locally Employed Staff scheme
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-3" name="whereDoYouLive" type="radio" value="afghan-3">
          <label class="govuk-label govuk-radios__label" for="exemption-3">
            Afghan Relocations and Assistance Policy scheme
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-4" name="whereDoYouLive" type="radio" value="ukraine">
          <label class="govuk-label govuk-radios__label" for="exemption-4">
            Ukraine schemes
          </label>
        </div>
      </div>
    </div>
    <!-- <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="collapse" name="exemptions" type="radio" value="true" >
      <label class="govuk-label govuk-radios__label" for="collapse">
        Arriving in connection with Afghan government collapse
      </label>
    </div> -->
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="genuine-link" name="exemptions" type="radio" value="true" data-aria-controls="conditional-genuine-link">
      <label class="govuk-label govuk-radios__label" for="genuine-link">
        Genuine and sufficient link to UK
      </label>
    </div>
    <div class="govuk-radios__conditional" id="conditional-genuine-link">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend">
        <h1 class="govuk-fieldset__heading">
          <b>Select exemption</b>
        </h1>
      </legend>
      <div class="govuk-form-group">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-5" name="whereDoYouLive" type="radio" value="in-UK">
          <label class="govuk-label govuk-radios__label" for="exemption-5">
            Claiming in the UK and can show genuine and sufficient link to UK
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-6" name="whereDoYouLive" type="radio" value="in-EEA">
          <label class="govuk-label govuk-radios__label" for="exemption-6">
            Claiming in the European Economic Area (EEA) or Switzerland and can show genuine and sufficient link to UK
          </label>
        </div>
      </div>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="refugee" name="exemptions" type="radio" value="true" data-aria-controls="conditional-refugee">
      <label class="govuk-label govuk-radios__label" for="refugee">
        Humanitarian protection or refugee
      </label>
    </div>
    <div class="govuk-radios__conditional" id="conditional-refugee">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend">
        <h1 class="govuk-fieldset__heading">
          <b>Select exemption</b>
        </h1>
      </legend>
      <div class="govuk-form-group">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-7" name="whereDoYouLive" type="radio" value="protection">
          <label class="govuk-label govuk-radios__label" for="exemption-7">
            Humanitarian protection
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-8" name="whereDoYouLive" type="radio" value="refugee">
          <label class="govuk-label govuk-radios__label" for="exemption-8">
          Refugee
          </label>
        </div>
      </div>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="conflict" name="exemptions" type="radio" value="true" >
      <label class="govuk-label govuk-radios__label" for="conflict">
        Person fleeing violence in Israel, the Occupied Palestinian Territories or Lebanon from 7 October 2023
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="exemption-16" name="exemptions" type="radio" value="true" >
      <label class="govuk-label govuk-radios__label" for="exemption-16">
        Person fleeing violence in Sudan from 15 April 2023
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="exemption-9" name="exemptions" type="radio" value="true" >
      <label class="govuk-label govuk-radios__label" for="exemption-9">
        Special rules for end of life
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="exemption-10" name="exemptions" type="radio" value="true" >
      <label class="govuk-label govuk-radios__label" for="exemption-10">
        Temporarily absent abroad for up to 13 weeks (or 26 weeks for qualifying medical treatment)
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="profession" name="exemptions" type="radio" value="true" data-aria-controls="conditional-profession">
      <label class="govuk-label govuk-radios__label" for="profession">
        Working abroad (includes armed forces)
      </label>
    </div>
    <div class="govuk-radios__conditional" id="conditional-profession">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend">
        <h1 class="govuk-fieldset__heading">
          <b>Select exemption</b>
        </h1>
      </legend>
      <div class="govuk-form-group">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-11" name="whereDoYouLive" type="radio" value="airmen">
          <label class="govuk-label govuk-radios__label" for="exemption-11">
            Airmen
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-12" name="whereDoYouLive" type="radio" value="armed-forces">
          <label class="govuk-label govuk-radios__label" for="exemption-12">
            Armed forces or family member
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-13" name="whereDoYouLive" type="radio" value="wales">
          <label class="govuk-label govuk-radios__label" for="exemption-13">
            Continental shelf workers
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="exemption-14" name="whereDoYouLive" type="radio" value="wales">
          <label class="govuk-label govuk-radios__label" for="exemption-14">
            Mariners
          </label>
        </div>
      </div>
    </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="exemption-15" name="exemptions" type="radio" value="true" >
        <label class="govuk-label govuk-radios__label" for="exemption-15">
          None
        </label>
      </div>
    </div>
  </fieldset>
</div>

             <!-- <button class="govuk-button" data-module="govuk-button" onclick="check()">
  Continue
</button> -->

{% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "/agent/hrt-v8/filtering/abroad-4weeks-3years.html"
              }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "/agent/hrt-v8/progress-saved.html"
              }) }}
            </div>

</form>
            <script>
          function check() {
    console.log('in function')
    var radios = document.getElementsByName("nationality");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_1_error.html";
    } else {
      if (document.getElementById("nationality").checked || (document.getElementById("nationality-2").checked )) {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/presence.html"
      } else {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html"
      }

  
    }
  }
              </script>

        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}