{% extends 'layout-agent.html' %}

{% block pageTitle %}
    Additional checks
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
{% endblock %}

{% block content %}

<!-- <div class="govuk-exit-this-page" data-module="govuk-exit-this-page"><a href="/agent/hrt-v4/outcome/reference-number-save.html" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-exit-this-page__button govuk-js-exit-this-page-button" data-module="govuk-button" rel="nofollow noreferrer">
  <span class="govuk-visually-hidden">Emergency</span> Exit this page
</a></div> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You have selected that additional checks are needed to determine John Smith's habitual residence.
            <!-- You have selected that John Smith needs a factual HRT to determine their habitual residence.  -->
            <!-- <a class="govuk-notification-banner__link" href="#">View application</a>. -->
          </p>
        </div>
      </div>

      <h2 class="govuk-heading-m">What to do next</h2>
      <p class="govuk-body">
        Please complete additional checks offline and return to record your decision.
      </p>
      <!-- <div class="govuk-inset-text">
        More information is needed to assess habitual residence. Please complete additional checks offline and return later to record your decision.
      </div> -->
      <!-- <h1 class="govuk-heading-l">Please proceed to complete a factual habitual residency test offline and return later to record your decision.</h1> -->
      <p class="govuk-body">Your answers have been saved.</p>

    </div>
  </div>

  <br>

  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukButton({
    text: "Back to case tasks",
    href: "/agent/hrt-v4b/outcome/reference-number-save.html"
  }) }}

{% endblock %}