{% extends 'layout-agent.html' %}

{% block pageTitle %}
    Past addresses
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<!--<div id="nationality-hint" class="govuk-hint">
  This is a page filled with address and residency information on the citizen.
</div>-->

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

{%- from "govuk/components/tag/macro.njk" import govukTag -%}

<table class="govuk-table" id="addresses">
  <caption class="govuk-table__caption govuk-table__caption--l">Customer’s past addresses</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
      <th scope="col" class="govuk-table__header"> Address</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-third"> More details </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"> 12 Dec 2018 to 4 Jan 2021 </td>
      <td class="govuk-table__cell"> 23 Rose Cottage <br> Fair Street <br> Telford <br> TY3 4HN </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="max-width: none;">
          Permanent residential
        </strong>
        <p style="margin-top: 5px">Updated 14 Dec 2018</p>
        <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 2</a></b>.  -->
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"> 4 Oct 2018 to 11 Dec 2018 </td>
      <td class="govuk-table__cell"> Hampton Court Bloomcare <br> 34 Scarisbrick <br> New Road <br> Southport <br> PR8 6Q</td>
      <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--blue" style="max-width: none;">
        Temporary care home
      </strong>
      <p style="margin-top: 5px">Updated 5 Oct 2018 </p>
        <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 3</a></b>.  -->
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"> 25 Oct 2017 to 3 Oct 2018 </td>
      <td class="govuk-table__cell">4 Purple Dream <br> Main Court <br> Manchester <br> MY3 4HN</td>
      <td class="govuk-table__cell"> 
        <strong class="govuk-tag govuk-tag--green" style="max-width: none;">
          Permanent residential
        </strong>
      <p style="margin-top: 5px">Updated 30 Oct 2017  </p>
        <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 1</a></b>.  -->
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"> 20 Jan 2015 to 24 Oct 2017 </td>
      <td class="govuk-table__cell">9 Lilly House <br> Main Steet <br> Brighton <br> BR3 8MK</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="max-width: none;">
          Permanent residential
        </strong>
      <p style="margin-top: 5px">Updated 30 Jan 2015 </p>
        <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 2</a></b>.  -->
      </td>
    </tr> 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"> 3 Jul 2013 to 19 Jan 2015 </td>
      <td class="govuk-table__cell"> 12 Angel's Court <br> Fairmoth Avenue <br> Bath <br> BA1 3FD </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="max-width: none;">
          Permanent residential
        </strong>
        <p style="margin-top: 5px">Updated 15 Jul 2015 </p>
        <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 2</a></b>.  -->
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"> 6 May 2010 to 2 Jul 2013 </td>
      <td class="govuk-table__cell"> 1 Old Terrace <br> Green Steet <br> Lancaster <br> LK7 4HN</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green" style="max-width: none;">
          Permanent residential
        </strong>
      <p style="margin-top: 5px">Updated 10 May 2010 </p>
        <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 3</a></b>.  -->
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"> 3 Apr 2008 to 5 May 2010</td>
      <td class="govuk-table__cell">3 Gunnersbury House <br> Chapel Hill <br> Lancaster <br> LY3 4HN </td>
      <td class="govuk-table__cell"> 
        <strong class="govuk-tag govuk-tag--green" style="max-width: none;">
          Permanent residential
        </strong>
      <p style="margin-top: 5px">Updated 10 Apr 2008</p>
        <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 1</a></b>.  -->
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">  22 Mar 2007 to 2 Apr 2008 </td>
      <td class="govuk-table__cell">Brushwood Bloomcare <br> 1 South Parade <br> Speke <br> Liverpool <br> L24 2SG</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue" style="max-width: none;">
          Temporary care home
        </strong>
      <p style="margin-top: 5px">Updated 25 Mar 2007 </p>
        <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 2</a></b>.  -->
      </td>
    </tr>    
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"> 1 Jul 2005 to 21 Mar 2007</td>
          <td class="govuk-table__cell"> 7 White Cottage <br> Bow Street <br> Bath <br> BA1 3FD </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green" style="max-width: none;">
              Permanent residential
            </strong>
        <p style="margin-top: 5px">Updated 13 Jul 2005</p>
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 1</a></b>.  -->
          </td>
        </tr>
  </tbody>
</table>
    
<!-- 
    {% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  next: {
    href: "current-address-2"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "current-address"
    },
    {
      number: 2,
      href: "current-address-2.html"
    },
    {
      number: 3,
      href: "current-address-3.html"
    }
  ]
}) }} -->

<!-- <nav class="govuk-pagination" role="navigation" aria-label="results">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="/agent/past-addresses/past-addresses.html" aria-label="See all" aria-current="page" onclick="changePage(4)">
        Collapse all
      </a>
    </li>
</nav> -->

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  
  {{ govukButton({
    text: "Back to current address",
    href: "/agent/update-address/mvp/current-address.html"
  }) }}

</div>

    </div>
            </form>

        </div>

</div>

{% endblock %}