{% extends 'layout-agent.html' %}

{% block pageTitle %}
    Past addresses
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <!-- <p style="float: right; margin-top:15px;" class="dwp-language-toggle" aria-label="Language toggle" > English | <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
      <a href="?lang=cy" class="govuk-link">Cymraeg</a> </p> -->

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<!--<div id="nationality-hint" class="govuk-hint">
  This is a page filled with address and residency information on the citizen.
</div>-->

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

{%- from "govuk/components/tag/macro.njk" import govukTag -%}

    <table class="govuk-table" id="addresses">
      <caption class="govuk-table__caption govuk-table__caption--l">Customer’s past addresses</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
          <th scope="col" class="govuk-table__header"> Address</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-third"> More details </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
      <td class="govuk-table__cell"> 1 Jul 2005 to 21 Mar 2007</td>
          <td class="govuk-table__cell"> 7 White Cottage <br> Bow Street <br> Bath <br> BA1 3FD </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green" style="max-width: none;">
              Permanent residential
            </strong>
        <p style="margin-top: 5px">Updated 13 Jul 2005</p>
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 1</a></b>.  -->
          </td>
        </tr>
      </tbody>
    </table>

    
    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="/agent/update-address/mvp/past-addresses/past-addresses-2.html" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span></a>
      </div>
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="/agent/update-address/mvp/past-addresses/past-addresses.html" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="/agent/update-address/mvp/past-addresses/past-addresses-2.html" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="/agent/update-address/mvp/past-addresses/past-addresses-3.html" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
  <ul class="govuk-pagination__list" id="pagination-list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="/agent/update-address/mvp/past-addresses/all-past-addresses.html" aria-label="See all" aria-current="page" onclick="changePage(4)">
        See all
      </a>
    </li>
  </ul>
</nav>

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  
  {{ govukButton({
    text: "Back to current address",
    href: "/agent/update-address/mvp/current-address.html"
  }) }}

</div>

    </div>
            </form>

        </div>

</div>

{% endblock %}