{% extends 'layout-agent-hrt.html' %}

{% block pageTitle %}
    Check your answers
{% endblock %}

{% block beforeContent %}

    {{ super() }}
    
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <!-- <p style="float: right; margin-top:15px;" class="dwp-language-toggle" aria-label="Language toggle" > English | <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
      <a href="?lang=cy" class="govuk-link">Cymraeg</a> </p> -->

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">EU treaty rights</h2>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           EU treaty right exercised
          </dt>
          
          <dd class="govuk-summary-list__value">
            Self-employed
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">Evidence required</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/benefit.html">Change</a> -->
            <a class="govuk-link" href="/agent/hrt-v10/outcome/eu-treaty-rights-merged.html">Change</a>

          </dd> 
        </div>      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Rationale documented
          </dt>
          
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">Evidence required</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/benefit.html">Change</a> -->
            <a class="govuk-link" href="/agent/hrt-v10/outcome/eu-treaty-rights-rationale.html">Change</a>

          </dd> 
        </div>  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          At risk of destitution
          </dt>
          
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">Evidence required</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/benefit.html">Change</a> -->
            <a class="govuk-link" href="/agent/hrt-v10/outcome/destitution.html">Change</a>

          </dd> 
        </div> 
    </dl> 

    <h2 class="govuk-heading-m">Evidence reviewed</h2>
          
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Right to reside
          </dt>
          
          <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
          <li>Proof of nationality</li>
          <li>Proof of immigration status</li>
          <li>Proof of EU treaty right</li>
          </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">Evidence required</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/benefit.html">Change</a> -->
            <a class="govuk-link" href="/agent/hrt-v10/outcome/evidence-decision-maker-pc.html">Change</a>

          </dd> 
        </div>          
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Presence
          </dt>
          
          <dd class="govuk-summary-list__value">
            Proof of presence in Great Britain
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">Evidence required</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/benefit.html">Change</a> -->
            <a class="govuk-link" href="/agent/hrt-v10/outcome/evidence-decision-maker-pc.html">Change</a>

          </dd> 
        </div>    
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Habitual residence test exemption
          </dt>
          
          <dd class="govuk-summary-list__value">
            No evidence required
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">Evidence required</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/benefit.html">Change</a> -->
            <a class="govuk-link" href="/agent/hrt-v10/outcome/evidence-decision-maker-pc.html">Change</a>

          </dd> 
        </div> 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Travel abroad
          </dt>
          
          <dd class="govuk-summary-list__value">
            No evidence required
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">Evidence required</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/benefit.html">Change</a> -->
            <a class="govuk-link" href="/agent/hrt-v10/outcome/evidence-decision-maker-pc.html">Change</a>

          </dd> 
        </div>      
    </dl>  
            
    <h2 class="govuk-heading-m">Decisions recorded</h2>

    <dl class="govuk-summary-list">
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Right to reside
        </dt>
        
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">Evidence required</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/benefit.html">Change</a> -->
          <a class="govuk-link" href="/agent/hrt-v10/outcome/decision-dm-pc.html">Change</a>

        </dd> 
      </div>   
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Meets presence condition 
          </dt>
          <dd class="govuk-summary-list__value">
           Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">Evidence requried</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/presence.html">Change</a> -->
            <a class="govuk-link" href="/agent/hrt-v10/outcome/decision-dm-pc.html">Change</a>

          </dd> 
        </div>

    </dl>   

    <dl class="govuk-summary-list">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Habitual residence
        </h1>
      </legend>
     
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitually resident
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/agent/hrt-v10/outcome/hab-res.html">Change</a>
          </dd> 
        </div>

    </dl>    

            {% from "govuk/components/button/macro.njk" import govukButton %}

            {{ govukButton({
              text: "Confirm and finish",
              href: "/agent/hrt-v10/outcome/end-pc.html"
            }) }}

            <!-- <div>
              <a href="/agent/hrt-v3/outcome/evidence.html" class="govuk-body-m">Request and provide evidence
            </a>
            </div> -->
    </div>
</div>

{% endblock %}