{% extends 'layouts/main-1.html' %}

{% block pageTitle %}
EU Treaty Rights
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – to help us improve it, <a class="govuk-link" href="https://forms.microsoft.com/e/mR3DLwkxg7" target="_blank">give feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          <!-- <span class="govuk-caption-l">Past presence</span> -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

    <h1 class="govuk-heading-l">EU Treaty Rights</h1>

      <h2 class="govuk-heading-m">Which EU treaty right is the customer exercising?</h2>
      
    <div class="govuk-radios" data-module="govuk-radios">

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="right" name="rights" type="radio" value="true">
      <label class="govuk-label govuk-radios__label" for="right">
        Worker
      </label>
    </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="right-1" name="rights" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="right-1">
          Self-employed
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="right-2" name="rights" type="radio" value="true" data-aria-controls="conditional-right-2">
        <label class="govuk-label govuk-radios__label" for="right-2">
          Retained worker
        </label>
      </div>
      <div class="govuk-radios__conditional" id="conditional-right-2">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend">
          <h1 class="govuk-fieldset__heading">
            <b>Select retained worker type</b>
          </h1>
        </legend>
        <div class="govuk-form-group">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="exemption-7" name="whereDoYouLive" type="radio" value="indefinite">
            <label class="govuk-label govuk-radios__label" for="exemption-7">
              Retained worker - indefinite
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="exemption-8" name="whereDoYouLive" type="radio" value="test">
            <label class="govuk-label govuk-radios__label" for="exemption-8">
              Retained worker - habitual residence test review needed
            </label>
          </div>
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="right-3" name="rights" type="radio" value="true" data-aria-controls="conditional-right-3">
        <label class="govuk-label govuk-radios__label" for="right-3">
          Retained self-employed
        </label>
      </div>
      <div class="govuk-radios__conditional" id="conditional-right-3">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend">
          <h1 class="govuk-fieldset__heading">
            <b>Select retained self-employed type</b>
          </h1>
        </legend>
        <div class="govuk-form-group">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="exemption-9" name="whereDoYouLive" type="radio" value="indefinite">
            <label class="govuk-label govuk-radios__label" for="exemption-9">
              Retained self-employed - indefinite
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="exemption-10" name="whereDoYouLive" type="radio" value="test">
            <label class="govuk-label govuk-radios__label" for="exemption-10">
            Retained self-employed - habitual residence test review needed
            </label>
          </div>
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="right-4" name="rights" type="radio" value="true" >
        <label class="govuk-label govuk-radios__label" for="right-4">
          Self-sufficient person
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="right-5" name="rights" type="radio" value="true" >
        <label class="govuk-label govuk-radios__label" for="right-5">
          Student
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="right-6" name="rights" type="radio" value="true" >
        <label class="govuk-label govuk-radios__label" for="right-6">
         Derivative rights
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="right-7" name="rights" type="radio" value="true" >
        <label class="govuk-label govuk-radios__label" for="right-7">
          Permanent residence
        </label>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="right-7" name="rights" type="radio" value="true" >
        <label class="govuk-label govuk-radios__label" for="right-7">
          None
        </label>
      </div>
    </div>

  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">

<h2 class="govuk-heading-m">Have you documented your rationale?</h2>

<div class="govuk-radios" data-module="govuk-radios">

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="right-8" name="rationale" type="radio" value="true">
    <label class="govuk-label govuk-radios__label" for="right-8">
      Yes
    </label>
  </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="right-9" name="rationale" type="radio" value="true" >
      <label class="govuk-label govuk-radios__label" for="right-9">
        No, I will complete this later
      </label>
    </div>
  
  </div>

</fieldset>
</div>

             <!-- <button class="govuk-button" data-module="govuk-button" onclick="check()">
  Continue
</button> -->

{% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "/agent/hrt-v10/outcome/destitution.html"
              }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "#"
              }) }}
            </div>

</form>
            <script>
          function check() {
    console.log('in function')
    var radios = document.getElementsByName("nationality");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_1_error.html";
    } else {
      if (document.getElementById("nationality").checked || (document.getElementById("nationality-2").checked )) {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/presence.html"
      } else {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html"
      }

  
    }
  }
              </script>

        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}