{% extends 'layouts/main-1.html' %}

{% block pageTitle %}
Dual nationality
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – to help us improve it, <a class="govuk-link" href="https://forms.microsoft.com/e/mR3DLwkxg7" target="_blank">give feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

  {% block content %}

  {% if data['nationality'] == 'other' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html' | redirect | safe }}
{% endif %}

{% if data['nationality'] == '' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2_error.html' | redirect | safe }}

  {% endif %}


<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <!-- <span class="govuk-caption-l">Right to reside</span> -->

<div class="govuk-form-group">
 
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Do they have dual nationality?
        </h1>
      </legend>


    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="yes" name="answer" type="radio" value="yes" data-aria-controls="conditional-yes">
        <label class="govuk-label govuk-radios__label" for="yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes">
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-nationality">
            Enter their other nationality
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="no" name="answer" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="no">
          No
        </label>
      </div>

  <br>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue",
      href: "/agent/hrt-v10/filtering/visa-status.html"
  
    }) }}
  
    {{ govukButton({
      text: "Save and come back later",
      classes: "govuk-button--secondary",
      href: "#"
    }) }}
  </div>

</div>
                
<!-- <button class="govuk-button" data-module="govuk-button" onclick="check1()">
  Continue
</button>
            </form>

<script>
function check1() {
  console.log('in function')
  var radios = document.getElementsByName("presence");
  var hasSelection = false
  for (var i = 0, len = radios.length; i < len; i++) {
    if (radios[i].checked) {
      hasSelection = true;
    }
  }
  if (!hasSelection) {
    window.location.href = "/agent/hrt-v4/filtering/presence-error.html";
  } else {
      if (document.getElementById("presence-yes").checked) {
        window.location.href = "/agent/hrt-v4/filtering/abroad-6months-3years.html"
      } else {
        window.location.href = "/agent/hrt-v4/outcome/check-outside-UK.html"
      }}}
</script> -->


        </div>

</div>

{% endblock %}