{% extends "layouts/main.html" %}

{% block pageTitle %}
    Address date
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="/capture-new-residential-address/address-date" method="post" class="form">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="address-date-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        When did you move to this address?
      </h1>
    </legend>
    <div id="address-date-hint" class="govuk-hint">
      For example, 12 11 2020
    </div>

{# Users must input a valid date following the standard in the example. The date must be past or present and cannot be in the future. #}

    <div class="govuk-date-input" id="address-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="address-date-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="address-date-day" name="address-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="address-date-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="address-date-month" name="address-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="address-date-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="address-date-year" name="address-date-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>

  </fieldset>
</div>

        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {{ govukDetails({
        summaryText: "I dont remember when I moved in",
        text: "If you do not remember the exact date of when you moved in, put in the closest date you think is correct."
        }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}