{% extends "layouts/main.html" %}

{% block pageTitle %}
  Current address
{% endblock %}

{% block beforeContent %}

  {{ super() }}

  {{ govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}

  {% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">
  Is this your current address?
</h1>
{# 
            <form action="/capture-new-residential-address/uk-question" class="form"> #}

<p class="govuk-body-m">ARDENHAM COURT, OXFORD ROAD, AYLESBURY, HP19 3EQ</p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="current-address-yes" name="current-address" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="current-address-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="current-address-no" name="current-address" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="current-address-no">
                No
              </label>
            </div>
          </div>
          </fieldset>
        </div>

<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href: "/citizen/habitual_residency_test/authenticated/v2/habitual_residency/living_with_national.html"
  }) }}
          {{ govukButton({
    text: "Save and do later",
    classes: "govuk-button--secondary"
  }) }}
</div>

      {# </form> #}
{% endblock %}
