{% extends "layouts/main.html" %}

{% block pageTitle %}
  Error - Enter address manually
{% endblock %}

{% block beforeContent %}

  {{ super() }}

  {{ govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}

  {% endblock %}

{% block content %}

        {{ govukErrorSummary({
          "titleText": "There is a problem",
          "errorList": [
            {
              "text": "Enter your building or street line",
              "href": "#address-line-1"
            },
            {
              "text": "Please enter a city or town",
              "href": "#address-town"
            }
          ]
        }) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
        {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
        {% from "govuk/components/input/macro.njk" import govukInput %}


{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

    <form action="/ma/ma_address_manually_error" method="post" class="form">

{% call govukFieldset({
          legend: {
            text: "What is your address?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

{% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "Address"
            },
            id: "address-line-1",
            name: "address-line-1",
            errorMessage: {
              text: "Enter your building or street line"
            }
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 4</span>'
            },
            id: "address-line-2",
            name: "address-line-2",
            autocomplete: "address-line-2",
                        errorMessage: {
            }
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "address-town",
            errorMessage: {
              text: "Please enter your city or town"
            }
          }) }}

          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-county",
            name: "address-county"
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "address-postcode"
          }) }}

{% endcall %}


{% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue",
      value: "true"
    }) }}

</form>

  </div>
</div>

{% endblock %}
