{% extends "layouts/main.html" %}

{% block pageTitle %}
    Continue with your application
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  End of prototype
                </h1>
              </legend>

              <br>

              {{ govukButton ({
                html: 'Start again',
                href: '../update-address-v1a/unitedkingdom.html'
            }) }}

            {{ govukButton ({
              html: 'Alternative Design',
              href: '../update-address-v1b/unitedkingdom.html'
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>


            </form>

        </div>

</div>

{% endblock %}