{% extends "layout-agent-hrt-v11-with-back.html" %}

{% block pageTitle %}
   Dual nationality
{% endblock %}

{% block beforeContent %}

    {{ super() }}

   

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
        
<div class="govuk-form-group">
      <h1 class="govuk-heading-l">
        What is their other nationality?
      </h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="nationality">
        Enter their other nationality
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="nationality" name="nationality" type="text" autocomplete="nationality">
    </div>

</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "/agent/hrt-v11/filtering/visa-status.html"

              }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "/agent/hrt-v11/progress-saved.html"
              }) }}
            </div>

<!-- <script>
  function check() {
    console.log('in function')
    var radios = document.getElementsByName("nationality");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/agent/hrt-v4/filtering/nationality-error.html";
    } else {
        if (document.getElementById("nationality").checked) {
          window.location.href = "/agent/hrt-v4b/filtering/presence.html"
        } else {
          if (document.getElementById("nationality-2").checked) {
          window.location.href = "/agent/hrt-v4b/filtering/presence.html"
          } else{ 
            window.location.href = "/agent/hrt-v4/filtering/visa-status.html"
        }
      }
    }
  }
</script> -->

        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}