{% extends 'layout-agent-hrt-v11-with-back.html' %}

{% block pageTitle %}
Presence
{% endblock %}

{% block beforeContent %}


    {{ super() }}

   

{% endblock %}

  {% block content %}

  {% if data['nationality'] == 'other' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html' | redirect | safe }}
{% endif %}

{% if data['nationality'] == '' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2_error.html' | redirect | safe }}

  {% endif %}


<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <!-- <span class="govuk-caption-l">Presence</span> -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="presence-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you want to remove Trip 3?
      </h1>
    </legend>
              
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="presence-yes" name="presence" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="presence-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="presence-no" name="presence" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="presence-no">
          No
        </label>
      </div>
    </div>

  </fieldset>
  <br>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue",
      href: "/agent/hrt-v11/filtering/abroad-summary-1.html"
  
    }) }}
  
    {{ govukButton({
      text: "Save and come back later",
      classes: "govuk-button--secondary",
      href: "/agent/hrt-v11/progress-saved.html"
    }) }}
  </div>

</div>
                
<!-- <button class="govuk-button" data-module="govuk-button" onclick="check1()">
  Continue
</button>
            </form>

<script>
function check1() {
  console.log('in function')
  var radios = document.getElementsByName("presence");
  var hasSelection = false
  for (var i = 0, len = radios.length; i < len; i++) {
    if (radios[i].checked) {
      hasSelection = true;
    }
  }
  if (!hasSelection) {
    window.location.href = "/agent/hrt-v4/filtering/presence-error.html";
  } else {
      if (document.getElementById("presence-yes").checked) {
        window.location.href = "/agent/hrt-v4/filtering/abroad-6months-3years.html"
      } else {
        window.location.href = "/agent/hrt-v4/outcome/check-outside-UK.html"
      }}}
</script> -->


        </div>

</div>

{% endblock %}