dwp-res-prototype{% extends 'layout-agent.html' %}

{% block pageTitle %}
Past presence summary
{% endblock %}

{% block beforeContent %}


    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Past presence</span>
          <h2 class="govuk-heading-l">Check your answers</h2>
          <div class="govuk-form-group">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">
          Trip 2 details
        </h3>
      </legend>
    
      <dl class="govuk-summary-list">
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Country
          </dt>
          
          <dd class="govuk-summary-list__value">
            France
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/agent/hrt-v5/filtering/country-1.html">Change</a>
          </dd> 
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Travel dates
          </dt>
          
          <dd class="govuk-summary-list__value">
            15 May 2023 to 10 Jul 2023
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/agent/hrt-v5/filtering/abroad-dates-1.html">Change</a>
          </dd> 
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Travel reason
          </dt>
          
          <dd class="govuk-summary-list__value">
            Visiting family
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/agent/hrt-v5/filtering/travel-reason-1.html">Change</a>
          </dd> 
        </div>
      </dl> 

            <legend class="govuk-fieldset__legend govuk-fieldset__legend">
              <h1 class="govuk-fieldset__heading">
                Total weeks: <b>8</b>
              </h1>
            </legend>
          </div>
          <form method="post" novalidate action="">

              {% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "/agent/hrt-v5/filtering/abroad-summary-1.html"
               }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "#"
              }) }}
            </div>
          
          </form>

<!-- {% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "What to do if the customer has traveled from several countries?",
  text: "If the customer has travelled from several countries, enter the one they have spent the most time in."
}) }} -->
                  
<!-- <button class="govuk-button" data-module="govuk-button" onclick="check1()">
  Continue
</button> -->
            </form>

<script>
function check1() {
  console.log('in function')
  var radios = document.getElementsByName("presence");
  var hasSelection = false
  for (var i = 0, len = radios.length; i < len; i++) {
    if (radios[i].checked) {
      hasSelection = true;
    }
  }
  if (!hasSelection) {
    window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/continue_application_error.html";
  } else {
    window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/confirm_residence.html"

  }
}
</script>

        </div>

</div>
 
        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}