{% extends "layout-agent.html" %}

{% block pageTitle %}
   Select nationality
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Right to reside</span>
        
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-fieldset__heading">
        What is their nationality?
      </h2>
    </legend>

    <div class="govuk-form-group">
      <label class="govuk-label" for="nationality">
        Nationality
      </label>
      <div id="nationality-hint" class="govuk-hint">
        Enter their nationality in English.
      </div>
      <input class="govuk-input govuk-!-width-two-thirds" id="nationality" name="nationality" type="text" autocomplete="nationality">
    </div>

    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="stateless">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          Or select if stateless (not considered a national of any state)
        </label>
      </div>
      </div>


  </fieldset>
</div>

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "If the customer has dual nationality or citizenship",
  text: "Select the nationality on the identity documents you are using to process this case."
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "/agent/hrt-v5/filtering/visa-status.html"

              }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "#"
              }) }}
            </div>

<!-- <script>
  function check() {
    console.log('in function')
    var radios = document.getElementsByName("nationality");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/agent/hrt-v4/filtering/nationality-error.html";
    } else {
        if (document.getElementById("nationality").checked) {
          window.location.href = "/agent/hrt-v4b/filtering/presence.html"
        } else {
          if (document.getElementById("nationality-2").checked) {
          window.location.href = "/agent/hrt-v4b/filtering/presence.html"
          } else{ 
            window.location.href = "/agent/hrt-v4/filtering/visa-status.html"
        }
      }
    }
  }
</script> -->

        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}