{% extends 'layouts/main.html' %}

{% block pageTitle %}
Share code
{% endblock %}

{% block beforeContent %}


    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

  {% block content %}

  {% if data['nationality'] == 'other' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html' | redirect | safe }}
{% endif %}

{% if data['nationality'] == '' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2_error.html' | redirect | safe }}

  {% endif %}


<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Right to reside</span>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="presence-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do they have a share code?
      </h1>
    </legend>
        
        <div id="nationality-hint" class="govuk-hint">
          This is a unique code issued by UK Visas and Immigration. It helps individuals to prove their immigration status in the UK.</div>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="date" name="date" type="radio" value="different-date" data-aria-controls="conditional-date">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-date">
        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend">
            <h2 class="govuk-fieldset__heading">
              <b>Share code</b>
            </h2>
          </legend>
          <div id="postcode-hint" class="govuk-hint">
            For example, A12 345 67G.
        </div>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend">
              <h1 class="govuk-fieldset__heading">
                <b>Share code expiry date</b>
              </h1>
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 27 3 2023.
            </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="date" name="date" type="radio" value="today">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          No
        </label>
      </div>

  </fieldset>
  <br>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue",
      href: "/agent/hrt-v5/filtering/presence.html"
  
    }) }}
  
    {{ govukButton({
      text: "Save and come back later",
      classes: "govuk-button--secondary",
      href: "#"
    }) }}
  </div>

</div>
                
<!-- <button class="govuk-button" data-module="govuk-button" onclick="check1()">
  Continue
</button>
            </form>

<script>
function check1() {
  console.log('in function')
  var radios = document.getElementsByName("presence");
  var hasSelection = false
  for (var i = 0, len = radios.length; i < len; i++) {
    if (radios[i].checked) {
      hasSelection = true;
    }
  }
  if (!hasSelection) {
    window.location.href = "/agent/hrt-v4/filtering/presence-error.html";
  } else {
      if (document.getElementById("presence-yes").checked) {
        window.location.href = "/agent/hrt-v4/filtering/abroad-6months-3years.html"
      } else {
        window.location.href = "/agent/hrt-v4/outcome/check-outside-UK.html"
      }}}
</script> -->


        </div>

</div>

{% endblock %}