{% extends 'layout.html' %}

{% block pageTitle %}
    Update address - Versions Agent view
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            <form method="post">

                <h1 class="govuk-heading-xl">View / Update Address Versions - Agent view</h1>

	<div class="govuk-tabs__panel" id="past-day" role="tabpanel" aria-labelledby="tab_past-day">
		<!-- <h2 class="govuk-heading-l">Update address journey prototypes</h2> -->
		<p>These prototypes are experimental pages testing hypothesis and designs for agents who are using the Update Address service with and for customers.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h2 class="govuk-heading-m">Version for MVP 1a</h2>
		<p>MVP ready</p>
		<p>1 October 2023</p>

		<p><strong class="govuk-tag govuk-tag--green">Completed</strong></p> 
		<a href="/agent/current-address" class="govuk-button">View version 1a</a><br/>
	
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h2 class="govuk-heading-m">Version for MVP 1b</h2>
		<p>MVP ready</p>
		<p>5 March 2024</p>

		<p><strong class="govuk-tag govuk-tag--yellow">In progress</strong></p> 
		<a href="/agent/current-address" class="govuk-button">View version 1b</a><br/>
	
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<!-- <h2 class="govuk-heading-m">Version 2</h2>
		<p>Post MVP</p>

		<p></p>
		<p><strong class="govuk-tag govuk-tag--yellow">on hold</strong></p> 
		<a href="#"  class="govuk-button">View version 2</a><br/>

		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

            </form>
        </div>
</div>

{% endblock %}