{% extends 'layout-agent.html' %}

{% block pageTitle %}
    Past addresses
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <!-- <p style="float: right; margin-top:15px;" class="dwp-language-toggle" aria-label="Language toggle" > English | <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
      <a href="?lang=cy" class="govuk-link">Cymraeg</a> </p> -->

{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<!--<div id="nationality-hint" class="govuk-hint">
  This is a page filled with address and residency information on the citizen.
</div>-->

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
                <h1 class="govuk-fieldset__heading">
                  Customer's past addresses
                </h1>
              </legend>

            </fieldset>

{%- from "govuk/components/tag/macro.njk" import govukTag -%}

    <table class="govuk-table" id="addresses">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"> Address information </th>
          <th scope="col" class="govuk-table__header"> More details </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b> 23 Rose Cottage, Fair Street, <br> Telford, TY3 4HN </b> <br> 12 December 2018 - 4 January 2021 <br> {{govukTag({
            text: "Permanent Residential",
            classes: "govuk-tag--green"
          })}} </td>
          <td class="govuk-table__cell">Updated 14 Dec 2018
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 2</a></b>.  -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b> Hampton Court Bloomcare, 34 Scarisbrick, <br> New Road, Southport, PR8 6Q </b> <br> 4 October 2018 - 11 December 2018 <br> {{govukTag({
            text: "Temporary Care home",
            classes: "govuk-tag--blue"
          })}} </td>
          <td class="govuk-table__cell">Updated 5 Oct 2018 
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 3</a></b>.  -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b> 4 Purple Dream, Main Court, <br> Manchester, MY3 4HN </b> <br> 25 October 2017 - 3 October 2018 <br> {{govukTag({
            text: "Permanent Residential",
            classes: "govuk-tag--green"
          })}} </td>
          <td class="govuk-table__cell">Updated 30 Oct 2017 
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 1</a></b>.  -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b> 9 Lilly House, Main Steet, <br> Brighton, BR3 8MK </b> <br> 20 January 2015 - 24 October 2017 <br> {{govukTag({
            text: "Permanent Residential",
            classes: "govuk-tag--green"
          })}} </td>
          <td class="govuk-table__cell">Updated 30 Jan 2015 
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 2</a></b>.  -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b> 12 Angel's Court, Fairmoth Avenue, <br> Bath, BA1 3FD </b> <br> 3 July 2013 - 19 January 2015 <br> {{govukTag({
            text: "Permanent Residential",
            classes: "govuk-tag--green"
          })}} </td>
          <td class="govuk-table__cell">Updated 15 Jul 2015 
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 1</a></b>.  -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> <b> 1 Old Terrace, Green Steet, <br> Lancaster, LK7 4HN </b> <br> 6 May 2010 - 2 July 2013 <br> {{govukTag({
            text: "Permanent Residential",
            classes: "govuk-tag--green"
          })}} </td>
          <td class="govuk-table__cell">Updated 10 May 2010 
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 2</a></b>.  -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> <b> 3 Gunnersbury House, Chapel Hill, <br> Lancaster, LY3 4HN </b> <br> 3 April 2008 - 5 May 2010 <br> {{govukTag({
            text: "Permanent Residential",
            classes: "govuk-tag--green"
          })}} </td>
          <td class="govuk-table__cell">Updated 10 Apr 2008 
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 1</a></b>.  -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> <b> Brushwood Bloomcare, 1 South Parade, <br> Speke, Liverpool, L24 2SG </b> <br> 22 March 2007 - 2 April 2008 <br> {{govukTag({
            text: "Temporary Care home",
            classes: "govuk-tag--blue"
          })}} </td>
          <td class="govuk-table__cell">Updated 25 Mar 2007 
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 3</a></b>.  -->
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> <b> 7 White Cottage, Bow Street, <br> Bath, BA1 3FD </b> <br> 1 July 2005 - 21 March 2007 <br> {{govukTag({
            text: "Permanent Residential",
            classes: "govuk-tag--green"
          })}} </td>
          <td class="govuk-table__cell">Updated 13 Jul 2005 
            <!-- <br> Verified to <b><a class="govuk-link" href="https://www.gov.uk/government/publications/attributes-in-the-uk-digital-identity-and-attributes-trust-framework/how-to-score-attributes#show-how-reliable-the-attribute-is">Score 1</a></b>.  -->
          </td>
        </tr>
      </tbody>
    </table>

    
<!-- 
    {% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  next: {
    href: "current-address-2"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "current-address"
    },
    {
      number: 2,
      href: "current-address-2.html"
    },
    {
      number: 3,
      href: "current-address-3.html"
    }
  ]
}) }} -->

<nav class="govuk-pagination" role="navigation" aria-label="results">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="/agent/past-addresses.html" aria-label="See all" aria-current="page" onclick="changePage(4)">
        Collapse all
      </a>
    </li>
</nav>

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  
  {{ govukButton({
    text: "Back to current address",
    href: "/agent/current-address.html"
  }) }}

</div>

    </div>

<script>
let itemsPerPage = 10
let currentPage = 1
function paginate() {
  let table = document.getElementById("addresses");
  let rows = table.getElementsByTagName("tbody")[0].rows;
  let startIndex = (currentPage -1) * itemsPerPage;
  let endIndex = startIndex + itemsPerPage;

for (let i = 0; i < rows.length; i++) {
  if (i >= startIndex && i < endIndex) {
    rows[i].style.display = "table-row";
   } else {
     rows[i].style.display = "none";
   }
  }
}

function changePage(pageNumber) {
  currentPage = pageNumber;
  paginate();
  updateActiveButton();
}
function updateActiveButton() {
  let pagination = document.getElementById("pagination-list")
  let buttons = pagination.getElementsByTagName("li");
for (let i = 0; i < buttons.length; i++) {
  buttons[i].classList.remove("govuk-pagination__item--current")
}
buttons[currentPage -1].classList.add("govuk-pagination__item--current")

}
paginate();
updateActiveButton();

</script>
            </form>

        </div>

</div>

{% endblock %}