{% extends 'layout-agent.html' %}

{% block pageTitle %}
    Current address
{% endblock %}

{% block beforeContent %}

    {{ super() }}
    
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            
                <h1 class="govuk-fieldset__heading">
                  Customer’s address information
                </h1>
              </legend>
            </fieldset>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-third">
     Current address
    </dt>
    <dd class="govuk-summary-list__value">
      18 Burdett House <br> Main Street <br> Guildford <br> GU79 6YW
      </dd>
    <!-- <dd class="govuk-summary-list__actions">
    </dd>  -->
      
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start date
    </dt>
     <dd class="govuk-summary-list__value">
      5 January 2021
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
    </dd>  -->
  
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Address type
    </dt>
     <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--green" style="max-width: none;">
        Permanent residential
      </strong>
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
    </dd>  -->
    
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Address reason
    </dt>
     <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--grey" style="max-width: none;">
        Residential
      </strong>
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
    </dd>  -->
    
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Updated
    </dt>
     <dd class="govuk-summary-list__value">
     7 January 2021
    </dd>
    <!-- <dd class="govuk-summary-list__actions">
    </dd>  -->
  
  </div>
  </dl>

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Confirm",
    href: "/agent/update-address/dashboard.html"
  }) }}

  {{ govukButton({
    text: "Add new address",
    classes: "govuk-button--secondary",
    href: "/agent/update-address/perm-or-temp.html"
  }) }}
  
</div>

<div>
  <a href="/agent/update-address/past-addresses/past-addresses.html" class="govuk-body-m">Past addresses
</a>
</div>
        </div>

</div>

{% endblock %}