{% extends "layouts/main.html" %}

{% block pageTitle %} Residency Prototype
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#presence">Tell us if you’ve been out of the United Kingdom in the past 2 years</a>
                </li>
              </ul>
            </div>
          </div>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="presence-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Have you been out of the United Kingdom in the past 2 years?</h1>
    </legend>
    <br>
        <div id="nationality-hint" class="govuk-hint">
          <span id="where-do-you-live-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Tell us if you’ve been out of the United Kingdom in the past 2 years
    <br>
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nationality" name="confirm" type="radio" value="british">
        <label class="govuk-label govuk-radios__label" for="nationality">
          Yes, for 4 weeks or longer in a single trip</label>
        
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nationality-2" name="confirm" type="radio" value="irish">
        <label class="govuk-label govuk-radios__label" for="nationality-2">
          Yes, for less than 4 weeks in a single trip</label>
      </div>

        <p class="govuk-body">Or</p>

            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nationality-3" name="confirm" type="radio" value="other">
        <label class="govuk-label govuk-radios__label" for="nationality-3">
          No</label>
        
  </div>
    </fieldset>
  

  </fieldset>
</div>
                
                          
<button class="govuk-button" data-module="govuk-button" onclick="check1()">
  Continue
</button>
            </form>

<script>
function check1() {
  console.log('in function')
  var radios = document.getElementsByName("confirm");
  var hasSelection = false
  for (var i = 0, len = radios.length; i < len; i++) {
    if (radios[i].checked) {
      hasSelection = true;
    }
  }
  if (!hasSelection) {
    window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/confirm_residence_error.html";
  } else {
    window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/end.html"

  }
}
</script>
      

        </div>

</div>
<h2 class="govuk-heading-m">More information</h2>

<details class="govuk-details govuk-!-margin-top-8" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Why do we need this information?
</span>
</summary>
<div class="govuk-details__text">
The time you’ve recently spent out of the country affects your eligibility for this benefit. 
</div>
</details>


</div>

</div>

{% endblock %}