{% extends "layouts/main.html" %}

{% block pageTitle %}
  Address query
{% endblock %}

{% block beforeContent %}

  {{ super() }}

  {{ govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}

  {% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-l">
  Was that your previous address?
</h1>

      <form action="/international-adresses/address_lookup" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="uk-question-yes" name="uk-question" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="uk-address-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="uk-question-no" name="uk-question" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="uk-address-no">
                No
              </label>
            </div>
          </div>
          </fieldset>
        </div>

        <button class="govuk-button" value= "true" data-module="govuk-button">Continue</button>

      </form>
{% endblock %}
