{% extends "layouts/main.html" %}

{% block pageTitle %}
  Enter address manually
{% endblock %}

{% block beforeContent %}

  {{ super() }}

  {{ govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}

  {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

    <form action="/ma/ma_address_manually_error" method="post" class="form">

{% call govukFieldset({
          legend: {
            text: "What is your address?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Address <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: "address-line-1",
            name: "address-line-1",
            autocomplete: "address-line1"
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 4</span>'
            },
            id: "address-line-2",
            name: "address-line-2",
            autocomplete: "address-line2"
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 3 of 4</span>'
            },
            id: "address-line-3",
            name: "address-line-3",
            autocomplete: "address-line3"
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 4 of 4</span>'
            },
            id: "address-line-4",
            name: "address-line-4",
            autocomplete: "address-line4"
          }) }}

          <div class="govuk-form-group">
          <h2 class="govuk-heading-s">Country</h2>
          <p>{{data['selected-country']}} <a href="country_list" class="govuk-!-margin-left-2">Change</a></p>
          </div>

{% endcall %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  value: "true"
}) }}

</form>


{% endblock %}
