{% extends "layouts/main.html" %}

{% block pageTitle %}
    Residency Prototype
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

{% if data['nationality'] == 'british' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v7/presence.html' | redirect | safe }}
{% endif %}

{% if data['nationality'] == 'irish' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v7/presence.html' | redirect | safe }}
{% endif %}



<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="/citizen/habitual_residency_test/simple_hrt_v7/fuzzy_logic.html" class="form">

                <h1 class="govuk-heading-xl">What nationality is on the identity document(s) you’re using for this application?</h1>

              <label class="govuk-label" for="f-nationality">Start typing the nationality, then select from the options</label>

              <div class="govuk-body" id="f-nationality"></div>

<br><br>
        <div class="casa-form-control-block">

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>





</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}
