{% extends 'layout-agent-no-details.html' %}

{% block pageTitle %}
    No match
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">No match found</h1>
  <p>We could not identify a customer that matches <b>Joe Smith</b>, <b>4 6 1952</b> and <b>BA1 9PJ</b>. You can search again or enter more details about the customer to identify them.</p>
  <p><a href="/agent/hrt-v4b/identification/all.html">Search again</a></p>
  <p><a href="/agent/hrt-v4b/identification/additional.html">Enter more details about the customer</a></p>

 </div> 

{% endblock %}