{% extends 'layout-agent.html' %}

{% block pageTitle %}
HRT cases
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

  {% block content %}

  {% if data['nationality'] == 'other' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html' | redirect | safe }}
{% endif %}

{% if data['nationality'] == '' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2_error.html' | redirect | safe }}

  {% endif %}


<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="test-cases-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Habitual residency decisions
      </h1>
    </legend>

    <br>

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Customer’s existing cases
      </h1>
    </legend>
        
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Created</th>
          <th scope="col" class="govuk-table__header">Updated</th>
          <th scope="col" class="govuk-table__header">Benefit line</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>
          <th scope="col" class="govuk-table__header">Action</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">12 Jan 2024</td>
          <td class="govuk-table__cell">17 Apr 2024</td>
          <td class="govuk-table__cell">Personal Independence Payment</td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--pink">
              Decision needed
            </strong>
          </td>
          <td class="govuk-table__cell"><a class="govuk-link" href="/agent/hrt-v4/outcome/check-decision-maker.html">Start</a></td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">12 Feb 2024</td>
          <td class="govuk-table__cell">12 Feb 2024</td>

          <td class="govuk-table__cell">Attendance Allowance</td>

          <td class="govuk-table__cell">

            <strong class="govuk-tag govuk-tag--green">
              Confirmed
            </strong>
          </td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">View</a></td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 Jan 2024</td>
          <td class="govuk-table__cell">30 Jan 2024</td>

          <td class="govuk-table__cell">Pension Credit</td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Rejected
            </strong>
          </td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">View</a></td>


        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1 Jan 2022</td>
          <td class="govuk-table__cell">4 Mar 2023</td>


          <td class="govuk-table__cell">Attendance Allowance</td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Expired
            </strong>
          </td>
          <td class="govuk-table__cell"></td>

        </tr>
       
      </tbody>
    </table>

  </fieldset>

</div>


        </div>

</div>

{% endblock %}