dwp-res-prototype{% extends 'layout-agent.html' %}

{% block pageTitle %}
   Past presence
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Past presence</span>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-fieldset__heading">
        Have they been in the UK, the Isle of Man or the Channel Islands for at least 104 weeks in the last 156 weeks?
      </h2>
    </legend>
    
   <!-- <div id="nationality-hint" class="govuk-hint">
    Abroad means outside the UK, the Isle of Man or the Channel Islands. </div> -->
    
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="abroad-yes" name="abroad" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="abroad-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="abroad-no" name="abroad" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="abroad-no">
          No
        </label>
      </div>
      <!-- <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="presence-3" name="presence" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="presence-2">
          Not sure
        </label>
      </div> -->
    </div>

  </fieldset>
<br>

<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button" onclick="check1()">
    Save and continue
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Save and come back later
  </button>
</div>

</div>
                  
            </form>

<script>
function check1() {
  console.log('in function')
  var radios = document.getElementsByName("abroad");
  var hasSelection = false
  for (var i = 0, len = radios.length; i < len; i++) {
    if (radios[i].checked) {
      hasSelection = true;
    }
  }
  if (!hasSelection) {
    window.location.href = "/agent/hrt-v3/filtering/abroad-error.html";
  } else {
    if (document.getElementById("abroad-yes").checked) {
        window.location.href = "/agent/hrt-v4/filtering/country.html"
      } else {
        window.location.href = "/agent/hrt-v4/filtering/exemptions.html.html"
      }}}
</script>

        </div>
      </div>
 

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}