{% extends "layouts/main.html" %}

{% block pageTitle %}
   Select nationality
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Right to reside</span>
        
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-fieldset__heading">
        Select their nationality
      </h2>
    </legend>
    
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nationality" name="nationality" type="radio" value="british">
        <label class="govuk-label govuk-radios__label" for="nationality">
          British
        </label>
        <div id="british-hint" class="govuk-hint govuk-radios__hint">Select if they are from England, Scotland, Wales, Northern Ireland, the Isle of Man, or the Channel Islands.</div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nationality-2" name="nationality" type="radio" value="irish">
        <label class="govuk-label govuk-radios__label" for="nationality-2">
          Irish
        </label>
         <div id="british-hint" class="govuk-hint govuk-radios__hint">Select if they are from the Republic of Ireland.</div>
      </div>

      <!-- <div class="govuk-radios__divider">or</div> -->

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="nationality-3" name="nationality" type="radio" value="foreign" data-aria-controls="conditional-nationality-3">
          <label class="govuk-label govuk-radios__label" for="nationality-3">
            Citizen of another country
          </label>
          <!-- <div id="british-hint" class="govuk-hint govuk-radios__hint">Select to enter the nationality.</div> -->
        </div>
        <div class="govuk-radios__conditional" id="conditional-nationality-3">
          <div class="govuk-form-group">
            <label class="govuk-label" for="foreign-nationality">
              Enter the nationality
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="foreign-nationality" name="foreignNationality" type="text" spellcheck="false" autocomplete="foreign">
          </div>
        </div>
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="nationality-4" name="nationality" type="radio" value="irish">
      <label class="govuk-label govuk-radios__label" for="nationality-4">
        Stateless
      </label>
       <div id="british-hint" class="govuk-hint govuk-radios__hint">Select if they are not considered as a national by any state.</div>
    </div> 
    </div>

  </fieldset>
</div>

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "If the customer has dual nationality",
  text: "Select the nationality on the identity documents you are using to process this case."
}) }}

<div class="govuk-button-group">
  <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">
    Continue
    </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Save and come back later
  </button>
</div>

</form>
<script>
  function check() {
    console.log('in function')
    var radios = document.getElementsByName("nationality");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/agent/hrt-v4/filtering/nationality-error.html";
    } else {
        if (document.getElementById("nationality").checked) {
          window.location.href = "/agent/hrt-v4b/filtering/presence.html"
        } else {
          if (document.getElementById("nationality-2").checked) {
          window.location.href = "/agent/hrt-v4b/filtering/presence.html"
          } else{ 
            window.location.href = "/agent/hrt-v4/filtering/visa-status.html"
        }
      }
    }
  }
</script>

        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}