dwp-res-prototype{% extends 'layout-agent.html' %}

{% block pageTitle %}
Exemptions
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  How would you prefer to be contacted?
                </h1>
              </legend>
              <div id="contact-hint" class="govuk-hint">
                Select one option.
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Email
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Email address
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    Phone
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-phone">
                      Phone number
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
                  <label class="govuk-label govuk-radios__label" for="contact-3">
                    Text message
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-text">
                      Mobile phone number
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ns-yes" name="ns" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="ns-yes">
          Yes, this application contains information that is subject to national security <!--I believe including information on a public register would not be in the interests of national security. I will:
          <ul class="govuk-list govuk-list--bullet">
              <li>inform the Secretary of State</li>
              <li>complete the application by post</li>
              <li>provide all the information requested in the application, including the sections I believe contain sensitive information</li>
          </ul>-->
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ns-no" name="ns" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="ns-no">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>


{% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and continue",
                href: "/agent/hrt-v4/outcome/check.html"
              }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "#"
              }) }}
            </div>

</form>
            <script>
          function check() {
    console.log('in function')
    var radios = document.getElementsByName("nationality");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_1_error.html";
    } else {
      if (document.getElementById("nationality").checked || (document.getElementById("nationality-2").checked )) {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/presence.html"
      } else {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html"
      }

  
    }
  }
              </script>

        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}