{% extends "layouts/main.html" %}

{% block pageTitle %}
   Select nationality
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – to help us improve it, <a class="govuk-link" href="https://forms.microsoft.com/e/mR3DLwkxg7" target="_blank">give feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Right to reside</span>
        
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-fieldset__heading">
        Immigration status
      </h2>
    </legend>
    

    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="visa" name="visa" type="radio" value="EU">
        <label class="govuk-label govuk-radios__label" for="visa">
          EU Settlement Scheme
        </label>
        <!-- <div id="british-hint" class="govuk-hint govuk-radios__hint">Select if they are from England, Scotland, Wales or Northern Ireland</div> -->
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="visa-2" name="visa" type="radio" value="ind-leave">
        <label class="govuk-label govuk-radios__label" for="visa-2">
          Indefinite leave to remain or enter
        </label>
         <!-- <div id="british-hint" class="govuk-hint govuk-radios__hint">Select if they are from the Republic of Ireland</div> -->
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="visa-3" name="visa" type="radio" value="lim-leave">
        <label class="govuk-label govuk-radios__label" for="visa-3">
          Limited leave to remain or enter
        </label>
         <!-- <div id="british-hint" class="govuk-hint govuk-radios__hint">Select if they are from the Republic of Ireland</div> -->
      </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="visa-4" name="visa" type="radio" value="refugee">
      <label class="govuk-label govuk-radios__label" for="visa-4">
        Refugee
      </label>
       <!-- <div id="british-hint" class="govuk-hint govuk-radios__hint">Select if they are from the Republic of Ireland</div> -->
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="visa-5" name="visa" type="radio" value="HP">
      <label class="govuk-label govuk-radios__label" for="visa-5">
        Humanitarian protection
      </label>
       <!-- <div id="british-hint" class="govuk-hint govuk-radios__hint">Select if they are from the Republic of Ireland</div> -->
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="visa-6" name="visa" type="radio" value="HP">
      <label class="govuk-label govuk-radios__label" for="visa-6">
        Other
      </label>
       <!-- <div id="british-hint" class="govuk-hint govuk-radios__hint">Select if they are from the Republic of Ireland</div> -->
    </div>

    </div>

  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Do they have recourse to public funds?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="yes" name="publicFunds" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="no" name="publicFunds" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="no">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

             <!-- <button class="govuk-button" data-module="govuk-button" onclick="check()">
  Continue
</button> -->

{% from "govuk/components/button/macro.njk" import govukButton %}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "/agent/hrt-v4/filtering/visa-status-dates.html"
              }) }}

              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "#"
              }) }}
            </div>

        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}