{% extends 'layout-agent.html' %}

{% block pageTitle %}
    Cancel update
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    <!-- <style>
      .dwp-key-details-bar {
          width: 187%;
          margin-left: -416px;
          margin-top: -10px;
      }
  </style>

<section class="dwp-key-details-bar" aria-label="Key details">
  <div class="dwp-key-details-bar__key-details">
  <dl class="dwp-key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dd class="dwp-key-details-bar__primary">John Smith</dd>
      <dt class="govuk-visually-hidden">Nino:</dt>
      <dd class="dwp-key-details-bar__secondary">QQ 12 34 56 X</dd>
  </dl>
  <dl class="dwp-key-details-bar__bottom-block">
      <dt>Date of birth:</dt>
      <dd>4 June 1972</dd>
  </dl>
  </div>
  </section>  -->

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <!-- <p style="float: right; margin-top:15px;" class="dwp-language-toggle" aria-label="Language toggle" > English | <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
      <a href="?lang=cy" class="govuk-link">Cymraeg</a> </p> -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Do you want to cancel the address update?
          </h1>
        </legend>
        <div id="contact-hint" class="govuk-hint">
          Any changes you have made will not be saved if you select Yes.
        </div>
        </fieldset>

            <!-- <h2 class="govuk-heading-l" style="margin-bottom:50;">Do you want to cancel the update?</h2>
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div> -->
            
          <!-- <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              Cancelling the update will delete all data you have input and none of the information will be saved after you click on 'Yes'.
            </strong>
          </div> -->

            <!-- <div class="govuk-button-group">
                {{ govukButton({
                    text: "Yes",
                    href: "/agent/current-address.html"
                    }) }}
              
                    {% from "govuk/components/button/macro.njk" import govukButton %}
                    {{ govukButton({
                      text: "No",
                      classes: "govuk-button--warning",
                      href: "javascript:history.back()"
                    }) }}
                
              </div> -->

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="abandon" type="radio" value="true">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="abandon" type="radio" value="false">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>
              </div>
              <br>
              <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button>
  
              <script>
                function check() {
                  console.log('in function')
                  var radios = document.getElementsByName("abandon");
                  var hasSelection = false
                  for (var i = 0, len = radios.length; i < len; i++) {
                    if (radios[i].checked) {
                      hasSelection = true;
                    }
                  }
                  if (!hasSelection) {
                    window.location.href = "/agent/update-address/abandon-error.html";
                  } else {
                    if (document.getElementById("yes").checked) {
                      window.location.href = "/agent/current-address.html"
                    } else {
                      window.location.href = "javascript:history.back()"
                    }
                  }
                }
              </script>
                </div>
           
    </div>


{% endblock %}