{% extends 'layout-agent.html' %}

{% block pageTitle %}
    Service unavailable
{% endblock %}

{% block beforeContent %}

    {{ super() }}
    
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Address update already confirmed</h1>
      <p class="govuk-body">
      You cannot go back to this page as you have already confirmed the address update.
      </p>

      <a href="/agent/updated-address.html" class="govuk-button">Continue </a>

    </div>
  </div>
{% endblock %}