{% extends 'layout-agent.html' %}

{% block pageTitle %}
    Error - Address type
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
      
{% endblock %}

{% block content %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#type">Select the type of the new permanent address</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

 <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" aria-describedby="address-type-error">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What type is the new permanent address?
      </h1>
    </legend>
    <div id="contact-hint" class="govuk-hint">
      Select one option.
    </div>
    <p id="where-do-you-live-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Select an address type to continue
    </p>
    <div class="govuk-radios" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type" name="type" type="radio" value="type" data-aria-controls="conditional-type">
        <label class="govuk-label govuk-radios__label" for="type">
          Care home
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-1" name="type" type="radio" value="type-1" data-aria-controls="conditional-type-1">
        <label class="govuk-label govuk-radios__label" for="type-1">
          Commercial
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-2" name="type" type="radio" value="type-2" data-aria-controls="conditional-type-2">
        <label class="govuk-label govuk-radios__label" for="type-2">
          Hospital
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-3" name="type" type="radio" value="type-3" data-aria-controls="conditional-type-3">
        <label class="govuk-label govuk-radios__label" for="type-3">
          Prison
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-4" name="type" type="radio" value="type-4" data-aria-controls="conditional-type-4">
        <label class="govuk-label govuk-radios__label" for="type-4">
          Residential
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-5" name="type" type="radio" value="type-5" data-aria-controls="conditional-type-5">
        <label class="govuk-label govuk-radios__label" for="type-5">
          Other
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-type-5">
        <div class="govuk-form-group">
          <input class="govuk-input govuk-!-width-one-third" id="conditional-type-5" name="type" type="text" autocomplete="text">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-button-group">
    <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button> 
  </div>

<script>
  function check() {
    console.log('in function')
    var radios = document.getElementsByName("type");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
        window.location.href = "/agent/update-address/address-type-error.html";
      } else {
        window.location.href = "/agent/update-address/move-in-date.html"
      }}
</script>

<!-- {{ govukButton({
  text: "Continue",
  href: "/agent/update-address/uk-or-international.html"
}) }} -->
            </form>

</div>

</div>

{% endblock %}