{% extends 'layout-agent-hrt-v11-with-back.html' %}

{% block pageTitle %}
Habitual residence cases
{% endblock %}

{% block beforeContent %}


    {{ super() }}

{% endblock %}

  {% block content %}

  {% if data['nationality'] == 'other' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html' | redirect | safe }}
{% endif %}

{% if data['nationality'] == '' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2_error.html' | redirect | safe }}

  {% endif %}


<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Habitual residence cases
      </h1>


    <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Customer’s existing cases
      </h1>
    </legend> -->
        
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Created</th>
          <th scope="col" class="govuk-table__header">Updated</th>
          <th scope="col" class="govuk-table__header">Benefit line</th>
          <th scope="col" class="govuk-table__header">Stage</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Action</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">12 Sept 2024</td>
          <td class="govuk-table__cell">17 Oct 2024</td>

          <td class="govuk-table__cell">Pension Credit</td>
          <td class="govuk-table__cell">Gather</td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--light-blue">
              In progress
            </strong>
          </td>
          <td class="govuk-table__cell"><a class="govuk-link" href="/agent/hrt-v11-pc/outcome/review-details.html">Resume</a></td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">12 Mar 2024</td>
          <td class="govuk-table__cell">24 Mar 2024</td>

          <td class="govuk-table__cell">Pension Credit</td>
          <td class="govuk-table__cell">Gather</td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--light-blue">
              In progress
            </strong>
          </td>
          <td class="govuk-table__cell"><a class="govuk-link" href="/agent/hrt-v11-pc/saved-details.html">Resume</a></td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">23 Jan 2024</td>
          <td class="govuk-table__cell">20 Feb 2024</td>

          <td class="govuk-table__cell">Personal Independence Payment</td>
          <td class="govuk-table__cell">Decision</td>

          <td class="govuk-table__cell">

            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          </td>
          <td class="govuk-table__cell"><a class="govuk-link" href="/agent/hrt-v11-pc/view.html">View</a></td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 Oct 2023</td>
          <td class="govuk-table__cell">30 Nov 2023</td>

          <td class="govuk-table__cell">Pension Credit</td>
          <td class="govuk-table__cell">Decision</td>


          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--light-blue">
             In progress
            </strong>
          </td>
          <td class="govuk-table__cell"></td>


        </tr>
      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">12 Jul 2023</td>
          <td class="govuk-table__cell">17 Sept 2023</td>


          <td class="govuk-table__cell">Attendance Allowance</td>
          <td class="govuk-table__cell">Decision</td>


          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--pink">
              To do
            </strong>
          </td>
          <td class="govuk-table__cell"></td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1 Jan 2023</td>
          <td class="govuk-table__cell">4 Mar 2023</td>


          <td class="govuk-table__cell">Pension Credit</td>
          <td class="govuk-table__cell">Decision</td>


          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Completed
            </strong>
          </td>
          <td class="govuk-table__cell"><a class="govuk-link" href="/agent/hrt-v11-pc/view-pc.html">View</a></td>

        </tr>
       
      </tbody>
    </table>

  </fieldset>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Start a new case",
      href: "/agent/hrt-v11-pc/filtering/benefit.html"
  
    }) }}

  </div>

</div>
                
<!-- <button class="govuk-button" data-module="govuk-button" onclick="check1()">
  Continue
</button>
            </form>

<script>
function check1() {
  console.log('in function')
  var radios = document.getElementsByName("presence");
  var hasSelection = false
  for (var i = 0, len = radios.length; i < len; i++) {
    if (radios[i].checked) {
      hasSelection = true;
    }
  }
  if (!hasSelection) {
    window.location.href = "/agent/hrt-v4/filtering/presence-error.html";
  } else {
      if (document.getElementById("presence-yes").checked) {
        window.location.href = "/agent/hrt-v4/filtering/abroad-6months-3years.html"
      } else {
        window.location.href = "/agent/hrt-v4/outcome/check-outside-UK.html"
      }}}
</script> -->


        </div>

</div>

{% endblock %}