{% extends 'layout-agent-hrt-v11-with-back.html' %}

{% block pageTitle %}
    Review saved details
{% endblock %}

{% block beforeContent %}

    {{ super() }}
    
    <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Review saved details
      </h1>

  <p class="govuk-body">
    The following details have been saved so far.
  </p>

  <h2 class="govuk-heading-m">Presence exemption</h2>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Is previously recorded exemption correct
      </dt>
      <dd class="govuk-summary-list__value">
        <p>No
      </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">Evidence requried</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/presence.html">Change</a> -->
        <!-- <a class="govuk-link" href="/agent/hrt-v11-pc/outcome/check-exemptions-presence.html">Change</a> -->

      </dd> 
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Corrected exemption
      </dt>
      <dd class="govuk-summary-list__value">
        <p>Airmen
      </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">Evidence requried</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/presence.html">Change</a> -->
        <!-- <a class="govuk-link" href="/agent/hrt-v11-pc/outcome/exemptions-presence.html">Change</a> -->

      </dd> 
    </div>
  </dl>  

<h2 class="govuk-heading-m">Evidence reviewed</h2>

  <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Nationality and immigration status
        </dt>
        
        <dd class="govuk-summary-list__value">
        <ul class="govuk-list govuk-list--bullet">
        <li>Proof of nationality</li>
        <li>Proof of immigration status</li>
        </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">Evidence required</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/benefit.html">Change</a> -->
          <!-- <a class="govuk-link" href="/agent/hrt-v11-pc/outcome/evidence-decision-maker.html">Change</a> -->

        </dd> 
      </div>          
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Presence
        </dt>
        
        <dd class="govuk-summary-list__value">
          Proof of presence in Great Britain
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">Evidence required</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/benefit.html">Change</a> -->
          <!-- <a class="govuk-link" href="/agent/hrt-v11-pc/outcome/evidence-decision-maker.html">Change</a> -->

        </dd> 
      </div>    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Past presence
        </dt>
        
        <dd class="govuk-summary-list__value">
          No evidence required
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">Evidence required</a> <br> <br> <a class="govuk-link" href="/agent/hrt-v3/filtering/benefit.html">Change</a> -->
          <!-- <a class="govuk-link" href="/agent/hrt-v11-pc/outcome/evidence-decision-maker.html">Change</a> -->

        </dd> 
      </div>      
  </dl>   

            {% from "govuk/components/button/macro.njk" import govukButton %}

            {{ govukButton({
              text: "Continue",
              href: "/agent/hrt-v11-pc/outcome/check-decision-maker.html"
            }) }}

            <!-- <div>
              <a href="/agent/hrt-v3/outcome/evidence.html" class="govuk-body-m">Request and provide evidence
            </a>
            </div> -->
    </div>
</div>

{% endblock %}