dwp-res-prototype{% extends 'layout-agent.html' %}

{% block pageTitle %}
   Benefit
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
        
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Which benefit is the customer applying for?
      </h1>
    </legend>
    
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nationality" name="nationality" type="radio" value="british">
        <label class="govuk-label govuk-radios__label" for="nationality">
          Attendance Allowance
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nationality-2" name="nationality" type="radio" value="irish">
        <label class="govuk-label govuk-radios__label" for="nationality-2">
          Carer's Allowance
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nationality-2" name="nationality" type="radio" value="irish">
        <label class="govuk-label govuk-radios__label" for="nationality-2">
          Disability Living Allowance
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nationality-2" name="nationality" type="radio" value="irish">
        <label class="govuk-label govuk-radios__label" for="nationality-2">
          New Style Employment Support Allowance
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nationality-2" name="nationality" type="radio" value="irish">
        <label class="govuk-label govuk-radios__label" for="nationality-2">
          Pension Credit
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="nationality-2" name="nationality" type="radio" value="irish">
        <label class="govuk-label govuk-radios__label" for="nationality-2">
          Personal Independence Payment
        </label>
      </div>
    </div>

  </fieldset>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "/agent/hrt-v3/filtering/nationality.html"
}) }}

             <!-- <button class="govuk-button" data-module="govuk-button" onclick="check()">
  Continue
</button> -->
           
</form>
            <script>
          function check() {
    console.log('in function')
    var radios = document.getElementsByName("nationality");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_1_error.html";
    } else {
      if (document.getElementById("nationality").checked || (document.getElementById("nationality-2").checked )) {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/presence.html"
      } else {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html"
      }}}
              </script>

        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}