dwp-res-prototype{% extends 'layout-agent.html' %}

{% block pageTitle %}
Exemptions
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do any of the following exemptions apply to the customer?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type" name="type" type="radio" value="true" data-aria-controls="conditional-type">
        <label class="govuk-label govuk-radios__label" for="type">
          Armed forces
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type" name="type" type="radio" value="true" data-aria-controls="conditional-type">
        <label class="govuk-label govuk-radios__label" for="type">
          Civil servants
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type" name="type" type="radio" value="true" data-aria-controls="conditional-type">
        <label class="govuk-label govuk-radios__label" for="type">
          Coming from an exemption country
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-4" name="type" type="radio" value="true" data-aria-controls="conditional-type-4">
        <label class="govuk-label govuk-radios__label" for="type-4">
          Medical leave
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-4" name="type" type="radio" value="true" data-aria-controls="conditional-type-4">
        <label class="govuk-label govuk-radios__label" for="type-4">
          Special rules
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-2" name="type" type="radio" value="true" data-aria-controls="conditional-type-2">
        <label class="govuk-label govuk-radios__label" for="type-2">
          None
        </label>
      </div>
      <!-- <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-5" name="type" type="radio" value="true" data-aria-controls="conditional-type-5">
        <label class="govuk-label govuk-radios__label" for="type-5">
          Other
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-type-5">
        <div class="govuk-form-group">
          <input class="govuk-input govuk-!-width-one-third" id="conditional-type-5" name="type" type="text" autocomplete="text">
        </div>
      </div> -->
    </div>
  </fieldset>
</div>

             <!-- <button class="govuk-button" data-module="govuk-button" onclick="check()">
  Continue
</button> -->
           
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "/agent/hrt-v3/outcome/check.html"
}) }}

</form>
            <script>
          function check() {
    console.log('in function')
    var radios = document.getElementsByName("nationality");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_1_error.html";
    } else {
      if (document.getElementById("nationality").checked || (document.getElementById("nationality-2").checked )) {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/presence.html"
      } else {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html"
      }

  
    }
  }
              </script>

        </div>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}