{% extends "layouts/main.html" %}

{% block pageTitle %}
    Page title
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

{% if data['past_presence_1'] == 'no' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v2/continue_application.html' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="/citizen/habitual_residency_test/simple_hrt_v2/continue_application.html" class="form">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="past_presence_2-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Have you been living in the United Kingdom for the passed 2 years in total out of the last 3 years?
      </h1>
    </legend>
            <div id="nationality-hint" class="govuk-hint">
      The United Kingdom is classed as England, Scotland, Wales, and Northern Island.
    </div>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="past_presence_2" name="past_presence_2" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="past_presence_2">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="past_presence_2-2" name="past_presence_2" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="past_presence_2-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>
                

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}