{% extends 'layout-agent-hrt.html' %}

{% block pageTitle %}
    Information review
{% endblock %}

{% block beforeContent %}

    {{ super() }}
    
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <!-- <p style="float: right; margin-top:15px;" class="dwp-language-toggle" aria-label="Language toggle" > English | <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
      <a href="?lang=cy" class="govuk-link">Cymraeg</a> </p> -->

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      
          <h1 class="govuk-fieldset__heading">
            Information review
          </h1>
        </legend>

      </fieldset>

      <br>

      <dl class="govuk-summary-list">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Claim details
          </h3>
        </legend>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Benefit
          </dt>
          
          <dd class="govuk-summary-list__value">
            Personal Independence Payment
          </dd>
        
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Date of claim
          </dt>
          <dd class="govuk-summary-list__value">
            5 Jan 2024
          </dd>
         
        </div>
      </dl>  
          
      <dl class="govuk-summary-list">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Right to reside
          </h3>
        </legend>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Nationality
            </dt>
            
            <dd class="govuk-summary-list__value">
              French
            </dd>
           
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Immigration status
            </dt>
            
            <dd class="govuk-summary-list__value">
              EU pre-settled
            </dd>
           
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Recourse to public funds
            </dt>
            
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
           
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Status valid from
            </dt>
            
            <dd class="govuk-summary-list__value">
            10 Jan 2020
            </dd>
           
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Status expiry date
            </dt>
            <dd class="govuk-summary-list__value">
              10 Jan 2025
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Share code
            </dt>
            
            <dd class="govuk-summary-list__value">
              9XY 6GY 2S2
            </dd>
            
          </div>
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Share code expiry date
            </dt>
            <dd class="govuk-summary-list__value">
              25 Apr 2024
            </dd>
            
          </div>
      </dl>  
            
      <dl class="govuk-summary-list">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Presence
          </h3>
        </legend>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lives in UK, Isle of Man or Channel Islands
            </dt>
            <dd class="govuk-summary-list__value">
             Yes
            </dd>
           
          </div>
      </dl>   

      <dl class="govuk-summary-list">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Past presence
          </h3>
        </legend>
       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            In UK, Isle of Man or Channel Islands for at least 104 weeks
          </dt>
          <dd class="govuk-summary-list__value">
           Yes
          </dd>
          
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Been abroad for more than 4 weeks at a time
            </dt>
            <dd class="govuk-summary-list__value">
             Yes
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              <b>Trip to Spain</b>
            </dt>
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              20 Feb 2022 to 26 May 2022
            </dt>
           
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              <b>Trip to France</b>
            </dt>
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              15 May 2023 to 10 Jul 2023
            </dt>
          
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              <b>Trip to United States</b>
            </dt>
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              1 Oct 2023 to 5 Jan 2024
            </dt>
          
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Exemptions
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
          </div>

      </dl>  

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                href: "/agent/hrt-v4/outcome/evidence-decision-maker.html"
            
              }) }}
            
              {{ govukButton({
                text: "Save and come back later",
                classes: "govuk-button--secondary",
                href: "/agent/hrt-v4/progress-saved-dm.html"
              }) }}
            </div>

            <!-- <div>
              <a href="/agent/hrt-v4/outcome/evidence-dm.html" class="govuk-body-m">Evidence provided
            </a>
            </div> -->

    </div>
</div>

{% endblock %}