{% extends "layouts/main-1.html" %}

{% block pageTitle %}
  View case details and decision
{% endblock %}


{% block beforeContent %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – to help us improve it, <a class="govuk-link" href="https://forms.microsoft.com/e/mR3DLwkxg7" target="_blank">give feedback (opens in new tab)</a>.
      </span>
    </p>
  </div>

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Case details and decision summary
      </h1>

      <div class="govuk-inset-text">
        <p class="govuk-body"><b>Status:</b> <strong class="govuk-tag govuk-tag--green" style="max-width: none;">
          Completed
        </strong></p>
        <p class="govuk-body"><b>Outcome:</b> Customer is habitually resident.</p>
      </div>

            <form method="post">

                <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#details">
        Case details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#decision">
        Decision summary
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="details">

    <h1 class="govuk-heading-l">Case details</h1>

    <h2 class="govuk-heading-m">Claim details</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
         Benefit
        </dt>
        
        <dd class="govuk-summary-list__value">
          Personal Independence Payment
        </dd>
      
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Date of claim
        </dt>
        <dd class="govuk-summary-list__value">
          5 Jan 2024
        </dd>
       
      </div>
    </dl>  
        
    <h2 class="govuk-heading-m">Nationality and immigration status</h2>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
           Nationality
          </dt>
          
          <dd class="govuk-summary-list__value">
            French
          </dd>
         
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Immigration status
          </dt>
          
          <dd class="govuk-summary-list__value">
            Pre-settled (limited leave to remain)
          </dd>
         
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Recourse to public funds
          </dt>
          
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
         
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Status valid from
          </dt>
          
          <dd class="govuk-summary-list__value">
          10 Jan 2020
          </dd>
         
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Status expiry date
          </dt>
          <dd class="govuk-summary-list__value">
            10 Jan 2025
          </dd>
          
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Has share code
          </dt>
          
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Share code
          </dt>
          
          <dd class="govuk-summary-list__value">
            9XY 6GY 2S2
          </dd>
          
        </div>
       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Share code expiry date
          </dt>
          <dd class="govuk-summary-list__value">
            25 Apr 2024
          </dd>
          
        </div>
    </dl>  

    <h2 class="govuk-heading-m">Presence</h2>
  
    <dl class="govuk-summary-list">
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Currently in Great Britain
          </dt>
          <dd class="govuk-summary-list__value">
           No
          </dd>
         
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Exemption from presence in Great Britain
          </dt>
          <dd class="govuk-summary-list__value">
           Armed forces or family member
           <br>
           <br>
           <b>Correction:</b>
           <br>
           Airmen
          </dd>
         
        </div>
    </dl>   

    <h2 class="govuk-heading-m">Past presence</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Exemption from past presence test
        </dt>
        <dd class="govuk-summary-list__value">
         None
        </dd>
        
      </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Been abroad for more than 4 weeks at a time
          </dt>
          <dd class="govuk-summary-list__value">
           Yes
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
            <b>Trip to Spain</b>
          </dt>
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              <li>20 Feb 2022 to 26 May 2022</li>
              <li>Reason: Medical reason</li>
              <li>Total time: 13 weeks 4 days</li>
          </dt>
         
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
            <b>Trip to France</b>
          </dt>
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              <li>15 May 2023 to 10 Jul 2023</li>
              <li>Reason: Visiting family</li>
              <li>Total time: 8 weeks</li>
          </dt>
        
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
            <b>Trip to United States</b>
          </dt>
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
            <li>	1 Oct 2023 to 5 Jan 2024</li>
            <li>Reason: Work</li>
            <li>Total time: 13 weeks 5 days</li>
          </dt>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
            <b>Total time abroad</b>
          </dt>
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
            35 weeks 2 days
          </dt>
        </div>
    </dl>  

  </div>
 
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="decision">
   
    <h1 class="govuk-heading-l">Decision summary</h1>

    <h2 class="govuk-heading-m">Habitual residence</h2>
                      
    <p class="govuk-body">John Smith is habitually resident.</p>

    <h2 class="govuk-heading-m">Nationality and immigration status</h2>
                      
    <p class="govuk-body">John Smith has recourse to public funds and, if applicable, an immigration status that allows this.</p>
<p class="govuk-body">Evidence reviewed:
<ul class="govuk-list govuk-list--bullet">
<li>Proof of nationality</li>
<li>Proof of immigration status</li>
<li>Proof of recourse to public funds</li>
<li>Proof of being exempt from immigration control</li>
</ul>
</p>

<h2 class="govuk-heading-m">Presence</h2>
<p class="govuk-body">John Smith has the following exemption from being present in Great Britain: Airmen.</p>
<p class="govuk-body">John Smith meets the presence condition.</p>
<p class="govuk-body">Evidence reviewed:
<ul class="govuk-list govuk-list--bullet">
<li>Proof of presence in Great Britain</li>
</ul>
</p>

<h2 class="govuk-heading-m">Past Presence</h2>
<p class="govuk-body">John Smith passes the past presence test.</p>
<p class="govuk-body">Evidence reviewed:
<li>Proof of travel abroad</li>
</p>

  </div>

  </div>
  </form>
  </div>

{% endblock %}

