{% extends 'layout-agent.html' %}

{% block pageTitle %}
    Cancel update
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Do you want to cancel the address update?
          </h1>
        </legend>
        <div id="contact-hint" class="govuk-hint">
          Any changes you have made will not be saved if you select yes.
        </div>
        </fieldset>

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="abandon" type="radio" value="true">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="abandon" type="radio" value="false">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>
              </div>
              <br>
              <button class="govuk-button" value= "true" data-module="govuk-button" onclick="check()">Continue</button>
  
              <script>
                function check() {
                  console.log('in function')
                  var radios = document.getElementsByName("abandon");
                  var hasSelection = false
                  for (var i = 0, len = radios.length; i < len; i++) {
                    if (radios[i].checked) {
                      hasSelection = true;
                    }
                  }
                  if (!hasSelection) {
                    window.location.href = "/agent/update-address/mvp/abandon-error.html";
                  } else {
                    if (document.getElementById("yes").checked) {
                      window.location.href = "/agent/update-address/mvp/cancelled-address.html"
                    } else {
                      window.location.href = "javascript:history.back()"
                    }
                  }
                }
              </script>
                </div>
           
    </div>


{% endblock %}