{% extends 'layout-agent.html' %}

{% block pageTitle %}
    	Customer’s address information
{% endblock %}

{% block beforeContent %}

    {{ super() }}
    
    <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

    <!-- <p style="float: right; margin-top:15px;" class="dwp-language-toggle" aria-label="Language toggle" > English | <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
      <a href="?lang=cy" class="govuk-link">Cymraeg</a> </p> -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-notification-banner govuk-notification-banner--success" role="region"
aria-labelledby="govuk-notification-banner-title"
data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
    Success
  </h2>
</div>
<div class="govuk-notification-banner__content">
  <h3 class="govuk-notification-banner__heading">
    Address update complete
  </h3>
  <p class="govuk-body">You have updated <strong>John Smith</strong>’s address.</p>
</div>
</div>

<h1 class="govuk-heading-l">
                  Customer’s address information
                </h1>

            <div class="govuk-inset-text">
              We cannot show the customer’s updated address at this time.  The address has been updated, so you can now continue.
            </div>

            {% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href: "/agent/update-address/dashboard.html"
  }) }}
<!-- 
  {{ govukButton({
    text: "Change",
    classes: "govuk-button--secondary",
    href: "/agent/update-address/uk-or-international.html"
  }) }} -->
</div>

<!-- <div>
  <a href="/agent/updated-address-past-addresses.html" class="govuk-body-m">Past addresses
</a>
</div> -->
            </form>

        </div>

</div>

{% endblock %}