{% extends 'layout-agent.html' %}

{% block pageTitle %}
    Unauthorised access
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot access this page</h1>
      <p class="govuk-body">
      You do not have permission to access this page.
      </p>
      <!-- <p class="govuk-body"></p>
       <p class="govuk-body"> When the service is available, you will have to start again.</p> -->
    </div>
  </div>
{% endblock %}