{% extends 'layout-agent-no-details.html' %}

{% block pageTitle %}
Your session has expired
{% endblock %}

{% block beforeContent %}

    {{ super() }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 id="dialog-title" class="govuk-heading-l">
            Your session has expired
            </h1>
            <div class="govuk-body">
            <p>We closed your session because you did not do anything for 20 minutes. </p>
              <p> Any unfinished work has been deleted. This is to protect customer information. </p>
              <p> You will need to start again.</p>
            </div>
            <!-- <button class="govuk-button dialog-button js-dialog-close" data-module="govuk-button">Start again</button> -->
            {% from "govuk/components/button/macro.njk" import govukButton %}

              {{ govukButton({
                text: "Start again",
                href: "/agent/update-address/dashboard.html"
              }) }}
           
          </div>
</div>

{% endblock %}

{% block pageScripts %}
{% endblock %}