{% extends 'layout-agent.html' %}

{% block pageTitle %}
    	Customer’s address information
{% endblock %}

{% block beforeContent %}

    {{ super() }}
    
    <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

    <!-- <p style="float: right; margin-top:15px;" class="dwp-language-toggle" aria-label="Language toggle" > English | <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
      <a href="?lang=cy" class="govuk-link">Cymraeg</a> </p> -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-notification-banner govuk-notification-banner--success" role="region"
aria-labelledby="govuk-notification-banner-title"
data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
    Success
  </h2>
</div>
<div class="govuk-notification-banner__content">
  <h3 class="govuk-notification-banner__heading">
    Address update complete
  </h3>
  <p class="govuk-body">You have updated <strong>John Smith</strong>’s address.</p>
</div>
</div>

            <form method="post">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Customer’s address information
                </h1>
              </legend>

            </fieldset>

            {%- from "govuk/components/tag/macro.njk" import govukTag -%}

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                 Current address
                </dt>
                <dd class="govuk-summary-list__value">
                  5 Wellington House <br> Windsor Street <br> South Gosforth<br> Newcastle upon Tyne <br> NE3 1YL
                  </dd>
                  <!-- <dd class="govuk-summary-list__actions">
                  </dd>  -->
                  
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Start date
                </dt>
                <dd class="govuk-summary-list__value">
                  20 May 2023
                </dd>
                  <!-- <dd class="govuk-summary-list__actions">
                </dd>  -->
              
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address type
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--green" style="max-width: none;">
                    Permanent residential
                  </strong>
                </dd>
                <!-- <dd class="govuk-summary-list__actions">
                </dd>  -->
                
              </div>
              <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address reason
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--grey" style="max-width: none;">
                    Residential
                  </strong>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd> 
                
              </div> -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Updated
                </dt>
                <dd class="govuk-summary-list__value">
                  24 May 2023
                </dd>
                <!-- <dd class="govuk-summary-list__actions">
                </dd>  -->
              
              </div>
              </dl>

            {% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href: "/agent/update-address/dashboard.html"
  }) }}
<!-- 
  {{ govukButton({
    text: "Change",
    classes: "govuk-button--secondary",
    href: "/agent/update-address/uk-or-international.html"
  }) }} -->
</div>

<!-- <div>
  <a href="/agent/updated-address-past-addresses.html" class="govuk-body-m">Past addresses
</a>
</div> -->
            </form>

        </div>

</div>

{% endblock %}