{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you sure you want to delete permanently?
{% endblock %}

{% block beforeContent %}

<!-- <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div> -->

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

  {% block content %}

  {% if data['nationality'] == 'other' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html' | redirect | safe }}
{% endif %}

{% if data['nationality'] == '' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2_error.html' | redirect | safe }}

  {% endif %}


<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Are you sure you want to delete permanently?
      </h1>
    </legend>
              
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              You cannot undo this action. Messages deleted permanently cannot be recovered.
            </strong>
          </div>

          <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
            Yes, delete permanently
          </button>

  <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Cancel and go back</a></p>

</div>
        </div>

</div>

{% endblock %}