{% extends 'layout-agent-no-details.html' %}

{% block pageTitle %}
    Customer's details
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          <form action="/citizen/habitual_residency_test/simple_hrt_v8a/fuzzy_logic.html" class="form">

                <h1 class="govuk-heading-l">Enter the customer's details to identify them</h1>
              
                <div id="dob-hint" class="govuk-hint">
                  Enter the customer's full name.
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="full-name">
                    Given names
                  </label>
                  <input class="govuk-input" id="full-name" name="fullName" type="text" spellcheck="false" autocomplete="name">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="full-name">
                    Family name
                  </label>
                  <input class="govuk-input" id="full-name" name="fullName" type="text" spellcheck="false" autocomplete="name">
                </div>

                <div id="dob-hint" class="govuk-hint">
                  Enter the customer's date of birth.
                </div>
                <div class="govuk-date-input" id="dob">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
                    </div>
                  </div>
                </div>

                <div id="dob-hint" class="govuk-hint">
                  Enter the customer's postcode.
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-postcode">
                    Postcode
                  </label>
                  <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
                </div>
  
<!--   
               <button class="govuk-button" data-module="govuk-button" >
    Continue
  </button> -->

  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukButton({
    text: "Continue",
    href: "/agent/hrt-v3/filtering/benefit.html"
  }) }}
           
          </div>
          </form>

</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}