{% extends "layouts/main.html" %}

{% block pageTitle %}
Residency Prototype
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}
{% if data['nationality'] == '' %}
  {{ '/citizen/habitual_residency_test/simple_hrt_v8b/nationality_question_2_error.html' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="presence-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Do you live in Great Britain?
      </h1>
    </legend>
        <br>
        <div id="nationality-hint" class="govuk-hint">
          Select ‘Yes’ if you currently live in England,
          Scotland, or Wales.    </div>
              <br>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="presence" name="presence" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="presence">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="presence-2" name="presence" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="presence-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>
                
<button class="govuk-button" data-module="govuk-button" onclick="check1()">
  Continue
</button>
            </form>

<script>
function check1() {
  console.log('in function')
  var radios = document.getElementsByName("presence");
  var hasSelection = false
  for (var i = 0, len = radios.length; i < len; i++) {
    if (radios[i].checked) {
      hasSelection = true;
    }
  }
  if (!hasSelection) {
    window.location.href = "http://localhost:3000/citizen/habitual_residency_test/simple_hrt_v8b/continue_application_error";
  } else {
    window.location.href = "http://localhost:3000/citizen/habitual_residency_test/simple_hrt_v8b/end"

  }
}
</script>


        </div>

</div>

{% endblock %}