{% extends "layouts/main.html" %}

{% block pageTitle %}
  Summary
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">AA121221B</span>
  Celine Smith
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">Personal information</h2>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Current address</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"> </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">ARDENHAM COURT, OXFORD ROAD, AYLESBURY, HP19 3EQ</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Start date</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"> </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">20th December 2020</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address type</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"> </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Care home</td>
    </tr>
  </tbody>
</table>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Previous addresses
    </span>
  </summary>
  <div class="govuk-details__text">
<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"> </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">11 KINGLY QUEENS DRIVE, LONDON, SW1 11A</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Start date</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"> </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">6th July 2018</td>
    </tr>
       <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">End date</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"> </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">19th December 2020</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address type</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"> </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">Permanent home</td>
    </tr>
  </tbody>
</table>
  </div>
</details>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Nationality</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">British and Australian</td>
    </tr>
  </tbody>
</table>
<p class="govuk-body govuk-!-font-size-19">We believe this is your Nationality following information from the Home Office. If this is incorrect please <a href="#" class="govuk-link govuk-link--no-visited-state">click here</a>.</p>

<h2 class="govuk-heading-l">Residency</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Habitual residency
    </dt>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Needs more information<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<table class="govuk-table">
    </tr>
  </thead>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Presence in GB</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
      </tbody>
</table>

<table class="govuk-table">
    </tr>
  </thead>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Past presence in GB</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
    </tr>
  </thead>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Recourse to public funds</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Yes</td>
    </tr>
  </tbody>
</table>

  </div>
</div>

      


{% endblock %}
