{% extends "layouts/main.html" %}

{% block pageTitle %}
  Residency prototypes
{% endblock %}


{% block beforeContent %}

    {{ super() }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

            <form method="post">

                <h1 class="govuk-heading-xl">Prototypes</h1>

                <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#citizen">
        Citizen
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#agent">
        Agent
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#pathfinder">
        Pathfinder
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="citizen">
    <h2 class="govuk-heading-l">Citizen view</h2>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h2 class="govuk-heading-m">Capture a change of address</h2>
		<p>Citizen’s view of Residency’s journey for capturing a change of address.</p>
		<p><strong class="govuk-tag govuk-tag--yellow">On hold</strong></p> 
		<a href="/address-update-citizen/update-address-versions.html" class="govuk-button">Continue</a>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h2 class="govuk-heading-m">Habitual residency test</h2>
		<p>Citizen’s view of proving their Habitual Residence.</p>
		<p><strong class="govuk-tag govuk-tag--yellow">On hold</strong></p> 
		<a href="/citizen/habitual_residency_test/versions.html" class="govuk-button">Continue</a>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h2 class="govuk-heading-m">International addresses</h2>
		<p>Citizen’s view of the journey to capture their non-UK address.</p>
		<p><strong class="govuk-tag govuk-tag--yellow">On hold</strong></p> 
		<a href="/international-addresses/current_address" class="govuk-button">Continue</a>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h2 class="govuk-heading-m">Error pages</h2>
		<p>List of error pages needed for our service.</p>
		<p><strong class="govuk-tag govuk-tag--green">Completed</strong></p> 
        <ul class="govuk-list">
        <li>
            <a class="govuk-link" href="/error_pages/citizen/page-not-found">Error 404</a>
        </li>
        <li>
            <a class="govuk-link" href="/error_pages/citizen/there-is-a-problem-with-the-service">Error 500</a>
        </li>
        <li>
            <a class="govuk-link" href="/error_pages/citizen/service-unavailable">Error 503</a>
        </li>
        </ul>
		       	
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h2 class="govuk-heading-m">Nationality</h2>
		<p>Citizen’s view of the nationality we hold on them.</p>
		<p><strong class="govuk-tag govuk-tag--yellow">On hold</strong></p> 
		<a href="/nationality" class="govuk-button">Continue</a>


  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Past week</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">18</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">27</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="agent">
    <h2 class="govuk-heading-l">Agent view</h2>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h2 class="govuk-heading-m">View and Update an Address</h2>
		<p>Residency’s journey for agents to view and/or update a customer’s address.</p>

		<p><strong class="govuk-tag govuk-tag--green">Completed</strong></p> 
		<a href="/agent/agent-versions.html" class="govuk-button">Continue</a>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<h2 class="govuk-heading-m">Digital Habitual Residency Test tool</h2>
		<p>Residency’s journey for agents to gather information and determine HRT for customers.</p>
		<p><strong class="govuk-tag govuk-tag--green">Completed</strong></p> 
		<a href="/agent/hrt-v2/agent-versions.html" class="govuk-button">Continue</a>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">  

    <h2 class="govuk-heading-m">SQS UI</h2>
		<p>Residency’s designs for letting a user of SQS who wishes to delete a single message or all messages on the DLQ queue to confirm the operation before it is deleted.</p>
		<p><strong class="govuk-tag govuk-tag--green">Completed</strong></p>
		<a href="/agent/sqs/confirm-purge.html" class="govuk-button">View ’Confirm purge’ screen</a> <br>
		<a href="/agent/sqs/confirm-delete.html" class="govuk-button">View ’Confirm delete’ screen</a>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">  

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pathfinder">
    <h2 class="govuk-heading-l">Pathfinder</h2>  
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                            <table class="govuk-table">
                              <caption class="govuk-table__caption govuk-table__caption--m">Maternity Allowance</caption>
                              <thead class="govuk-table__head">
                             
                              </thead>
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__header"><a href="/ma/ma_current_address">Maternity Allowance address</a></th>
                                  <td class="govuk-table__cell">       <strong class="govuk-tag">
                                    Completed
                                  </strong></td>
                                </tr>
                              
                              </tbody>
                            </table>
      



{% endblock %}

