{% extends "layouts/main.html" %}


{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}





{% if useAutoStoreData %}
  {% block footer %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://www.gov.uk/help",
            text: "Help"
          },
          {
            href: "https://www.gov.uk/help/accessibility-statement",
            text: "Accessibility statement"
          },
          {
            href: "https://www.gov.uk/help/cookies",
            text: "Cookies"
          },
          {
            href: "https://www.gov.uk/help/privacy-notice",
            text: "Privacy"
          },
          {
            href: "https://www.gov.uk/help/terms-conditions",
            text: "Terms and conditions"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
