{% extends "layouts/main.html" %}

{% block pageTitle %}
    Task list test
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-xl">Task list test</h1>

                <ul class="app-task-list">
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">1. </span> Check your information
                        </h2>
                        <ul class="app-task-list__items">
                            {{ taskListItem({
                                name: 'Your address',
                                url: 'idv/check',
                                isActive: 'false',
                                tags: [{
                                    text: 'Complete',
                                    color: 'blue'
                                },
                                {text: 'Complete',
                                    color: 'blue'}]
                            })}}
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number"></span> Check your information
                        </h2>
                        <ul class="app-task-list__items">
                            {{ taskListItem({
                                name: 'Your address',
                                url: 'idv/check',
                                isActive: 'false',
                                tag: {
                                    text: 'Complete',
                                    color: 'blue'
                                }
                            })}}
                        </ul>
                    </li>
                </ul>

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}