{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="form" action="/postcode-answerb" method="post">
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set yesHtmlb %}
{{ govukInput({
  id: "yes-postcodeb",
  name: "YesPostcodeb",
  type: "text",
  autocomplete: "",
  spellcheck: false,
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter your postcode"
  }
}) }}
{% endset -%}



{{ govukRadios({
  name: "postcodeb",
  fieldset: {
    legend: {
      text: "Do you know your postcode?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: "yespostcodeb",
      text: "yes",
      conditional: {
        html: yesHtmlb
      }
    },
    {
      value: "nopostcodeb",
      text: "no"
    }
      
    
  ]
}) }}


{{ govukButton({
  text: "Continue"
}) }}
</form>



{% endblock %}
