{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

{% from "internal-service-header/macro.njk" import dwpHeader %}

{{ dwpHeader({
name: "Determine a customer’s habitual residence",
serviceHref: '/',
container:true
}) }}

{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}

{{ dwpKeyDetailsBar({
  primaryIdentifier: {
  text: 'Name:',
  value: 'John Smith'
  },
  secondaryIdentifier: {
  text: 'National Insurance Number:',
  value: 'QQ 12 34 56 X'
  },
  additionalData: [
  {
  value: "4 June 1952",
  text: "Date of birth:"
  }
  ]
}) }} 


{% endblock %}

{% block beforeContent %}

    {{ super() }}

{% endblock %}

{% block footer %}

  <footer class="govuk-footer">
    <div class="govuk-width-container">
    <h2 class="govuk-visually-hidden">Support links</h2>
    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" rel="noreferrer noopener" target="_blank" href="">Accessibility statement (opens in new tab)</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" rel="noreferrer noopener" target="_blank" href="https://intranet.dwp.gov.uk/page/dwp-employee-privacy-notice-–-summary">Privacy (opens in new tab)</a>
      </li>
    </ul>
    </div>
    </footer>
    
  {% endblock %}